{% load i18n %}
{% for material in materials.results %}
{% if material.material_type == 1 %}
    {% url 'module_detail' mid=material.material_id as material_url %}
{% else %}
    {% url 'collection_detail' cid=material.material_id as material_url %}
{% endif %}
<div class="hfitem">
    <div class="collection-save-hover">
        <div class="collection-save">
            <div><a class="hfbtn-save" metadata="iditem-1">Save</a></div>
        </div>
        <div class="collection-saveto" metadata="iditem-1">
            <div class="collection-saveto-title">{% trans 'My Favorites' %}</div>
            <div class="collection-saveto-content">

            </div>
            <div class="collection-saveto-create" metadata="iditem-1-create">
                <a class="hfbtn-saveto-type" metadata="iditem-1-create">Create new</a>
            </div>
            <div class="collection-saveto-type" metadata="iditem-1-create">
                <input onclick="" class="saveto-type" title="Create new" value="Create new" alt="Create new" type="text">
            </div>
        </div>
    </div>
    <div class="collection-mainpage-cover">

        <img src="images/thumb-collection1.jpg">
    </div>
    <div class="collection-mainpage-details">
        <div class="title-collection">
            <a title="{{ material.title }}" alt="{{ material.title }}" href="{{ material_url }}">{{ material.title }}</a>
        </div>
        <div class="short-collection">{{ material.description }}</div>
        <div class="author-collection"><a href="{% url 'view_profile' 345 %}">Pham Duc Manh</a></div>
        <div class="category-collection"><a>Science and Technology</a></div>

    </div>
    <div class="collection-mainpage-other">
        <div class="hflike left">100</div>
        <div class="hfview left">120</div>
        <div class="hfother right tooltipi-container">
            <img src="images/icon/information.png">
            <div class="hftooltipi">
                Uploaded On: <strong>2013-12-06 10:37:39</strong>
            </div>
        </div>
    </div>
</div>
{% endfor %}
