{% load i18n %}
<div class="col-lg-2 left-row">
                <div class="hfuser-tools">
    <div class="smallbox-common">
        <div class="hfbtn-create module"><a href="{% url 'create_module' %}">{% trans 'Create a new module' %}</a></div>
        <div class="hfbtn-create collection"><a href="{% url 'create_collection' %}">{% trans 'Create a new collection' %}</a></div>
        <div class="hfbtn-create mass-module"><a href="{% url 'create_mass_modules' %}">{% trans 'Create module in Batch' %}</a></div>
    </div>
    <div class="smallbox-common">
        <div class="title">
            {% trans 'My Items' %}
        </div>
        <div class="content">
            <ul>
                <li><a href="{% url 'get_unpublish' %}">{% trans 'Unpublish' %}</a></li>
                <!--<li><a>{% trans 'Saved Items' %}</a></li>-->
                <li><a href="{% url 'get_favorite' %}">{% trans 'My Favorites' %}</a></li>
            </ul>
        </div>
    </div>
    <div class="smallbox-common">
        <div class="title">
            {% trans 'My profile' %}
        </div>
        <div class="content">
            <ul>        
                <li><a href="{% url 'edit_profile' %}">{% trans 'Profile Information' %}</a></li>
            </ul>
        </div>      
    </div>
    {% if request.user.is_superuser %}
    <div class="smallbox-common">
        <div class="title">
            {% trans 'Administration' %}
        </div>
        <div class="content">
            <ul>
                <li><a href="{% url 'most-viewed' %}">{% trans 'Most viewed' %}</a></li>
                <li><a href="{% url 'most-faved' %}">{% trans 'Most favourite' %}</a></li>
                <li><a href="{% url 'featured-materials' %}">{% trans 'Featured materials' %}</a></li>
                <li><a href="{% url 'featured-authors' %}">{% trans 'Featured authors' %}</a></li>
                <li><a href="{% url 'import-user' %}">{% trans 'Import user' %}</a></li>
                <li><a href="{% url 'settings' %}">{% trans 'Settings' %}</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
</div>
</div>
