{% load i18n %}
<div class="col-lg-2 left-row">
                <div class="hfuser-tools">
    <div class="smallbox-common">
        <div class="hfbtn-create module"><a href="{% url 'create_module' %}">{% trans 'Create a new module' %}</a></div>
        <div class="hfbtn-create collection"><a href="{% url 'create_collection' %}">{% trans 'Create a new collection' %}</a></div>
    </div>
    <div class="smallbox-common">
        <div class="title">
            {% trans 'My Items' %}
        </div>
        <div class="content">
            <ul>
                <li><a>{% trans 'Unpublish' %}</a></li>
                <li><a>{% trans 'Saved Items' %}</a></li>
                <li><a>{% trans 'My Favorites' %}</a></li>
            </ul>
        </div>
    </div>
    <div class="smallbox-common">
        <div class="title">
            {% trans 'My profile' %}
        </div>
        <div class="content">
            <ul>        
                <li><a href="{% url 'edit_profile' %}">{% trans 'Profile Information' %}</a></li>
            </ul>
        </div>      
    </div>
    {% if request.user.is_superuser %}
    <div class="smallbox-common">
        <div class="title">
            {% trans 'Administration' %}
        </div>
        <div class="content">
            <ul>
                <li><a href="#">{% trans 'Most viewed' %}</a></li>
                <li><a href="#">{% trans 'Most liked' %}</a></li>
                <li><a href="#">{% trans 'Most favourite' %}</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
</div>
</div>