{% load i18n %}
<div class="col-lg-2 left-row">
                <div class="hfuser-tools">
    <div class="smallbox-common">
        <div class="hfbtn-create module"><a href="{% url 'create_module' %}">{% trans 'Create a new module' %}</a></div>
        <div class="hfbtn-create collection"><a href="{% url 'create_collection' %}">{% trans 'Create a new collection' %}</a></div>
    </div>
    <div class="smallbox-common">
        <div class="title">
            My Items
        </div>
        <div class="content">
            <ul>
                <li><a>Add Resource</a></li>
                <li><a>Saved Items</a></li>
                <li><a>Submitted Items</a></li>
                <li><a>Evaluated Items</a></li>
                <li><a>Authored Items</a></li>
                <li><a>Remixed Items</a></li>
                <li><a>My Favorites</a></li>
            </ul>
        </div>
    </div>
    <div class="smallbox-common">
        <div class="title">
            My profile
        </div>
        <div class="content">
            <ul>        
                <li><a>Profile Information</a></li>
                <li><a>Member Statistics</a></li>
                <li><a>Account Settings</a></li>
                <li><a>Delete Account</a></li>
            </ul>
        </div>      
    </div>
</div>  
</div>