{% extends "base/base.html" %}
{% load i18n %}

{% block titleSite %}{% trans 'Sign up' %}{% endblock %}

{% block content %}
<div class="signup-form">
    <div class="header-signup-form">{% trans 'Join VOER. Take Creative Control.' %}</div>
    <form method="post" action="" class="wide" id="registrationform">
    {% csrf_token %}
    <div class="content-signup-form">
        <!--
        <div class="title-signup-email">
            <span>{% trans 'or sign up using your email' %}</span>
        </div>
        -->
        {% if form.errors %}
        <div class="errors">
        <b>{% trans 'Please correct the errors below:' %}</b>
        {% for field, error in form.errors.items %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
        <input class="form-control" id="id_username" type="text" name="username" maxlength="30" placeholder="{% trans 'Your username' %}">
        <input class="form-control" id="id_email" type="email" name="email" placeholder="{% trans 'Your email Address' %}">
        <div class="form-wrap-password">
            <input class="form-control" id="id_password1" type="password" name="password1" placeholder="{% trans 'Your password' %}">
        </div>
        <input class="form-control" id="id_password2" type="password" name="password2" placeholder="{% trans 'Enter password again' %}">
        {{ form.recaptcha }}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js?render={{ captcha_site_key }}"></script>
        <script>
          grecaptcha.ready(function() {
              $('#registrationform').submit(function(e){
                  var $form = this;
                  e.preventDefault();
                  grecaptcha.execute('{{ captcha_site_key }}', {action: 'registrationform'}).then(function(token) {
                      $('#id_recaptcha').val(token);
                      $form.submit()
                  });
              })
          });
        </script>
        <span class="left clear">
            By registering you are agreeing to our <a class="link-blue">Terms of Use</a> and <a class="link-blue">Privacy Policy</a>.</span>
        <input class="btn btn-sign-up left clear" type="submit" value="{% trans 'Register' %}">
    </div>
    </form>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(document).on('change', '.chb_show_pass', function() {
    Voer.Helper.showPassword(this, '#id_password1, #id_password2');
  });
});
</script>
{% endblock %}
