<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "base/meta.html" %}
    {% block keywords %}<meta name="keywords" content="voer, ocw, vietnam oer, vietnam ocw, học liệu mở, tài nguyên giáo dục mở, toán học, kinh tế, văn học, ngôn ngữ học, quản trị kinh doanh, vi sinh vật học, vật lý, hóa học, khí tượng thủy văn, ngoại ngữ, du học, công nghệ thông tin, công nghệ phần mềm, mạng máy tính" />{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>{% block titleSite %}{% endblock %}</title>

  </head>
  <body>
  	{% block topbar %}
  	{% include "base/header.html" %}
	{% endblock %}
	{% block slide %}{% endblock %}
	
  	<div id="mainpage" class="main">
  		<div class="container">
  			<div class="row">
  			    {% block content %}{% endblock %}
                {% block footer %}
  				    {% include "base/footer.html" %}
                {% endblock %}
  			</div>
  		</div>
  	</div>
  </body>
</html>
