<div class="footer left">
    <div class="logo-footer left">
    </div>
    <ul class="list-menu-footer left">
        <li>
            <a>About</a>
        </li>
        <li>
            <a>Careers</a>
        </li>
        <li>
            <a>Team</a>
        </li>
        <li>
            <a>Store</a>
        </li>
        <li>
            <a>Contact</a>
        </li>
        <li>
            <a>Press</a>
        </li>
        <li>
            <a>Terms</a>
        </li>
    </ul>
    <ul class="list-footer-social right">
        <li><a>Facebook</a></li>
        <li><a>Google+</a></li>
        <li><a>Twitter</a></li>
    </ul>
</div>