{% load i18n %}

{% if pager %}
<script>
  $(document).ready(function(){
    var wpagination = $('.pagination').width() + 4;
    $('.pagination-block').css('width',wpagination);
  });
</script>
<div class="pagination-block clear">
    <ul class="pagination">
    {% if pager.has_previous %}
        <li><a href="{{ page_query}}&page=1"><<</a></li>
        <li><a href="{{ page_query}}&page={{ pager.previous_page_number }}"><</a></li>
    {% endif %}

    {% if 1 not in pager.paginator.page_range %}
        <li class="pager-ellipsis disabled"><a href="javascript:void(0)">...</a></li>
    {% endif %}

    {% for page in pager.page_range %}
       {% if not page %}
           <li class="pager-ellipsis disabled"><a href="javascript:void(0)">...</a></li>
       {% else %}
           <li><a href="{{ page_query}}&page={{ page }}">{{ page }}</a></li>
       {% endif %}
    {% endfor %}

    {% if pager.number not in pager.paginator.page_range %}
        <li class="pager-ellipsis disabled"><a href="javascript:void(0)">...</a></li>
    {% endif %}

    {% if pager.has_next %}
        <li><a href="{{ page_query }}&page={{ pager.next_page_number }}">></a></li>
        <li><a href="{{ page_query }}&page={{ pager.paginator.num_pages }}">>></a></li>
    {% endif %}
    </ul>
</div>
{% endif %}