@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('Flat-UI-Icons.eot');
  src: url('Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), 
  url('Flat-UI-Icons.woff') format('woff'), 
  url('Flat-UI-Icons.ttf') format('truetype'), 
  url('Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}