{% extends "base/base-content.html" %}

{% load i18n %}

{% block js %}
    {{ form.media }}
    <script type="text/javascript" src="{{ STATIC_URL }}mce_filebrowser/js/filebrowser_init.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hogan.js"></script>
    <script>
    function delete_row_author(e){
        $(e).parent().parent().remove();
    };
    $(document).ready(function(){
        $('.search-author').typeahead({
            name: 'authors',
            valueKey: 'fullname',
            remote: "{% url 'ajax_search_author' %}?keyword=%QUERY",
            template: [
                '<p class="item-fullname">{% verbatim %}{{fullname}}{% endverbatim %}</p>',
                '<p class="item-email">{% verbatim %}{{email}}{% endverbatim %}</p>',
            ].join(''),
            engine: Hogan,
            limit: 10
        });

        $('.search-author').on('typeahead:selected', function (object, datum) {
            var template = Hogan.compile(ITEM_TEMPLATE);
            var output = template.render(datum);
            $('#listAuthor tbody').append(output);
            $('.search-author').val('');
        });


        var ITEM_TEMPLATE = ['<tr>',
            '<td class="author-block">',
            '<a class="hfbtn-author" href="#">{% verbatim %}{{fullname}}{% endverbatim %}',
            '<div class="author-information">',
            '<div class="avatar left">',
            '<img src="images/avatar.jpg" width="70px" height="70px">',
            '</div>',
            '<div class="right">',
            '<div class="user-name">{% verbatim %}{{fullname}}{% endverbatim %}</div>',
            '<div class="user-address">{% verbatim %}{{email}}{% endverbatim %}</div>',
            '<div class="user-website">{% verbatim %}{{homepage}}{% endverbatim %}</div>',
            '</div>',
            '</div>',
            '</a>',
            '</td>',
            '<td>',
            '<input type="checkbox" value="{% verbatim %}{{id}}{% endverbatim %}" name="authors">',
            '</td>',
            '<td>',
            '<input type="checkbox" value="{% verbatim %}{{id}}{% endverbatim %}" name="editors">',
            '</td>',
            '<td>',
            '<input type="checkbox" name="{% verbatim %}{{id}}{% endverbatim %}" name="licensors">',
            '</td>',
            '<td>',
            '<input type="checkbox" name="{% verbatim %}{{id}}{% endverbatim %}" name="maintainers">',
            '</td>',
            '<td>',
            '<input type="checkbox" name="{% verbatim %}{{id}}{% endverbatim %}" name="translators">',
            '</td>',
            '<td>',
            '<input type="checkbox" name="{% verbatim %}{{id}}{% endverbatim %}" name="coeditors">',
            '</td>',
            '<td><div class="hfbtn-delete" onclick="delete_row_author(this)"></div></td>',
            '</tr>'].join('\n');

    });
    </script>
{% endblock %}

{% block titleSite %}Create module{% endblock %}

{% block content %}        

            <!-- filter top -->
            <div class="hfcreate">
    <div class="breakcump left">
        <span>{% trans 'Create Content' %}</span>
        <span class="icon"></span>
        <span class="current">{% trans 'Create a new module' %}</span>
    </div>
    <div class="hfstep">
        <ul>
            <li class="active"><a id="hfstep-1"><div class="step">1</div> {% trans 'License' %}</a></li>
            <li class="active"><a id="hfstep-2"><div class="step">2</div>{% trans 'Metadata' %}</a></li>
            <li class="active"><a id="hfstep-3"><div class="step">3</div>{% trans 'Content' %}</a></li>
        </ul>
    </div>
</div>
{% include "frontend/block/left_block_user.html" %}
    <form role="form" method="post" enctype="multipart/form-data">
       {% csrf_token %}
        <input type="hidden" name="step" value="3" />
        <input type="hidden" name="mid" value="{{ material.id}}" />
        <input type="hidden" name="material_id" value="{{ material.material_id }}" />
        <input type="hidden" name="version" value="{{ material.version }}" />
            <div class="col-lg-1 right-row">
                <div class="hfcreate-1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li><a href="#metadata" data-toggle="tab">{% trans 'Metadata' %}</a></li>
                      <li class="active"><a href="#content" data-toggle="tab">{% trans 'Content' %}</a></li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">                   
                      <div class="tab-pane" id="metadata">
                        <div class="content">
        <div class="form-group">
            <label for="InputEmail1">{% trans 'Title' %}</label>
            <input class="form-control typetext" id="InputText" placeholder="Enter Title" type="text" name="title" value="{{ material.title }}">
        </div>
        <div class="form-group">
            <label for="InputDescription">{% trans 'Description' %}</label>
            <textarea rows="4" class="form-control" name="description">{{ material.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="InputAuthor">{% trans 'Author' %}</label>
        </div>
		<div class="form-group listAuthor">
			<table class="listAuthor" id="author">
				<thead>
					<tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Author' %}</th>
                        <th>{% trans 'Editor' %}</th>
                        <th>{% trans 'Licensor' %}</th>
                        <th>{% trans 'Maintainer' %}</th>
                        <th>{% trans 'Translator' %}</th>
                        <th>{% trans 'Contributor' %}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="author-block">
							<a class="hfbtn-author" href="#">{{ author.fullname }}
								<div class="author-information">
									<div class="avatar left">
										<img src="images/avatar.jpg" width="70px" height="70px">
									</div>
									<div class="right">
										<div class="user-name">{{ author.fullname }}</div>
										<div class="user-address">{{ author.email }}</div>
										<div class="user-website">{{ author.homepage }}</div>
									</div>
								</div>
							</a>
						</td>
						<td>
                            <input type="checkbox" value="{{ author.id }}" name="authors" checked />
						</td>
						<td>
                            <input type="checkbox" value="{{ author.id }}" name="editors" checked />
						</td>
						<td>
                            <input type="checkbox" name="{{ author.id }}" name="licensors">
						</td>
						<td>
                            <input type="checkbox" name="{{ author.id }}" name="maintainers">
						</td>
						<td>
                            <input type="checkbox" name="{{ author.id }}" name="translators">
						</td>
						<td>
                            <input type="checkbox" name="{{ author.id }}" name="coeditors">
						</td>
						<td style="width:25px;">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
        <div class="form-group">
            <label for="InputAuthor">{% trans 'Add new author' %}</label><br/>
            <input class="form-control search-author" id="InputAuthor" placeholder="Search author" type="text">
        </div>
		<div class="form-group listAuthor">
			<table class="listAuthor" id="listAuthor">
				<thead>
					<tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Author' %}</th>
                        <th>{% trans 'Editor' %}</th>
                        <th>{% trans 'Licensor' %}</th>
                        <th>{% trans 'Maintainer' %}</th>
                        <th>{% trans 'Translator' %}</th>
                        <th>{% trans 'Contributor' %}</th>
						<th style="width: 25px;"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
        <div class="form-group">
            <label for="InputCategories">{% trans 'Categories' %}</label>
            <ul class="AddCategories">
                {% for category in categories %}
                <li>
                    <label class="checkbox checkbox-user-tool">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input data-toggle="checkbox" type="checkbox" name="categories" value="{{ category.id }}" {% if category.id == material.categories|add:0 %}checked{% endif %}>
                        {{ category.name }}
                    </label>                
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            <label for="InputFile">{% trans 'Image' %}</label>
            <input onmouseout="document.getElementById('uploadfilename_0').value = this.value;" onchange="document.getElementById('uploadfilename_0').value = this.value;" class="uploadfile" id="uploadfile_0" name="uploadfile_0" type="file">                      
            <div class="fakefile">              
                <input onclick="document.getElementById('uploadfile_0').click();" id="uploadfilename_0" value="" class="form-control typefile" type="text">
            </div>
            <p class="help-block">{% trans 'Files must be less than 2 MB. <br>Allowed file types: png gif jpg jpeg.' %}</p>           
        </div>  
        <div class="form-group">
            <label for="InputLanguage">{% trans 'Language' %}</label> 
            <div class="hfselectList">
                <select name="language" class="select-block">
                    <option>{% trans 'Choose language' %}</option>
                    <option value="vi" {% if material.language == "vi" %}selected="selected"{% endif %}>{% trans 'Vietnamese' %}</option>
                    <option value="en" {% if material.language == "en" %}selected="selected"{% endif %}>{% trans 'English' %}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="InputKeywords">{% trans 'Keywords' %}</label>
            <textarea rows="4" name="keywords" class="form-control" id="InputKeywords">{{ material.keywords }}</textarea>
        </div>
        <div class="form-group">
            <label for="InputTags">{% trans 'Tags' %}</label>
            <input class="form-control typetext" id="InputTags" placeholder="Enter Tags" type="text">
        </div>  
</div>
                      </div>
                      <div class="tab-pane active" id="content">
                        <div class="content">
        <div class="form-group">
            <label for="InputFile">{% trans 'Document for import' %} </label>
            <input onmouseout="document.getElementById('uploadfilename_1').value = this.value;" onchange="document.getElementById('uploadfilename_1').value = this.value;" class="uploadfile" id="uploadfile_1" name="document_file" type="file">
            <div class="fakefile">              
                <input onclick="document.getElementById('uploadfile_1').click();" id="uploadfilename_1" value="" class="form-control typefile" type="text">
                <button class="btn hfbtn-common hfbtn-active" name="action" value="import">{% trans 'Import' %}</button>
            </div>
            <p class="help-block">{% trans 'Upload a file, allowed extensions: doc, docx, odt.' %}</p>
        </div>
        <div class="form-group">
            <label for="InputBody">{% trans 'Body' %}</label>
            {{ form.body.errors }}
            {{ form.body }}
        </div>
        <!--
        <div class="form-group">
            <label for="InputFile">{% trans 'Files - Included Resources' %}</label>
            <input onmouseout="document.getElementById('uploadfilename_2').value = this.value;" onchange="document.getElementById('uploadfilename_2').value = this.value;" class="uploadfile" id="uploadfile_2" name="uploadfile_2" type="file">                      
            <div class="fakefile">              
                <input onclick="document.getElementById('uploadfile_2').click();" id="uploadfilename_2" value="" class="form-control typefile" type="text">
            </div>
            <p class="help-block">{% trans 'Upload a file, allowed extensions: doc, docx, odt, png, gif, jpg, jpeg.' %}</p>           
        </div>
        -->
        <div class="form-group btn-common">
            <button class="btn hfbtn-common hfbtn-public right hfbtn-active" value="publish" name="action">{% trans 'Publish' %}</button>
            <button class="btn hfbtn-common hfbtn-next right hfbtn-active" value="save" name="action">{% trans 'Save' %}</button>
            <button class="btn HFBTN-common hfbtn-back right hfbtn-active" value="back" name="action">{% trans 'Back' %}</button>
        </div>          
</div>                    </div>
                    </div>

                </div>
            </div>
    </form>
{% endblock %}
