{% extends "base/base-content.html" %}

{% load i18n %}

{% block titleSite %}{% trans 'Create module' %}{% endblock %}

{% block content %}        

            <!-- filter top -->
            <div class="hfcreate">
    <div class="breakcump left">
        <span>{% trans 'Create Content' %}</span>
        <span class="icon"></span>
        <span class="current">{% trans 'Create a new module' %}</span>
    </div>
    <div class="hfstep">
        <ul>
            <li class="active"><a id="hfstep-1"><div class="step">1</div> {% trans 'License' %}</a></li>
            <li class="active"><a id="hfstep-2"><div class="step">2</div>{% trans 'Metadata' %}</a></li>
            <li><a id="hfstep-3"><div class="step">3</div>{% trans 'Content' %}</a></li>
        </ul>
    </div>
</div>
{% include "frontend/block/left_block_user.html" %}
            <div class="col-lg-1 right-row">
                <div class="hfcreate-1">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ field.label }} - {{ error|escape }}</li>
                            {% endfor %}
                        {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#metadata" data-toggle="tab">{% trans 'Metadata' %}</a></li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">                   
                      <div class="tab-pane active" id="metadata">
                        <div class="content">
    <form role="form" method="post">
        {% csrf_token %}
		<div class="form-group">
			<label for="InputEmail1">{% trans 'Title' %}</label>
			<input type="text" class="form-control typetext" id="InputText" placeholder="{% trans 'Enter title' %}" name="title">
		</div>
		<div class="form-group">
			<label for="InputDescription">{% trans 'Description' %}</label>
			<textarea rows="4" class="form-control" name="description"></textarea>
		</div>
		<div class="form-group">
			<label for="InputAuthor">{% trans 'Author' %}</label>
			<input type="text" class="form-control typetext" id="InputAuthor" placeholder="{% trans 'Enter author' %}">
			<a class="AddNew" href="#addnewauthor">{% trans 'Add new Author' %}</a>
		</div>
		<div class="form-group listAuthor">
			<table class="listAuthor">
				<thead>
					<tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Author' %}</th>
                        <th>{% trans 'Editor' %}</th>
                        <th>{% trans 'Licensor' %}</th>
                        <th>{% trans 'Maintainer' %}</th>
                        <th>{% trans 'Translator' %}</th>
                        <th>{% trans 'Contributor' %}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="author-block">
							<a class="hfbtn-author" href="author_profile.php">HiFlyer JSC
								<div class="author-information">
									<div class="avatar left">
										<img src="images/avatar.jpg" width="70px" height="70px">
									</div>
									<div class="right">
										<div class="user-name">HiFlyer JSC</div>
										<div class="user-address">R 405, 87 Lang Ha, Dong Da, Ha Noi, Viet Nam</div>
										<div class="user-website">www.hiflyer.vn</div>
									</div>
								</div>
							</a>
						</td>
						<td>
							<label class="checkbox checkbox-user-tool">
								<span class="icons">
									<span class="first-icon fui-checkbox-unchecked"></span>
									<span class="second-icon fui-checkbox-checked"></span>
								</span>
								<input type="checkbox" data-toggle="checkbox">
							</label>
						</td>
						<td>
							<label class="checkbox checkbox-user-tool">
								<span class="icons">
									<span class="first-icon fui-checkbox-unchecked"></span>
									<span class="second-icon fui-checkbox-checked"></span>
								</span>
								<input type="checkbox" data-toggle="checkbox">
							</label>
						</td>
						<td>
							<label class="checkbox checkbox-user-tool">
								<span class="icons">
									<span class="first-icon fui-checkbox-unchecked"></span>
									<span class="second-icon fui-checkbox-checked"></span>
								</span>
								<input type="checkbox" data-toggle="checkbox">
							</label>
						</td>
						<td>
							<label class="checkbox checkbox-user-tool">
								<span class="icons">
									<span class="first-icon fui-checkbox-unchecked"></span>
									<span class="second-icon fui-checkbox-checked"></span>
								</span>
								<input type="checkbox" data-toggle="checkbox">
							</label>
						</td>
						<td>
							<label class="checkbox checkbox-user-tool">
								<span class="icons">
									<span class="first-icon fui-checkbox-unchecked"></span>
									<span class="second-icon fui-checkbox-checked"></span>
								</span>
								<input type="checkbox" data-toggle="checkbox">
							</label>
						</td>
						<td>
							<label class="checkbox checkbox-user-tool">
								<span class="icons">
									<span class="first-icon fui-checkbox-unchecked"></span>
									<span class="second-icon fui-checkbox-checked"></span>
								</span>
								<input type="checkbox" data-toggle="checkbox">
							</label>
						</td>
						<td><div class="hfbtn-delete"></div></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group">
			<label for="InputCategories">{% trans 'Categories' %}</label>
			<ul class="AddCategories">
                {% for category in categories %}
				<li>
					<label class="checkbox checkbox-user-tool">
						<span class="icons">
							<span class="first-icon fui-checkbox-unchecked"></span>
							<span class="second-icon fui-checkbox-checked"></span>
						</span>
						<input type="checkbox" data-toggle="checkbox" name="categories" value="{{ category.id }}">
						{{ category.name }}
					</label>
				</li>
                {% endfor %}
			</ul>
		</div>
		<div class="form-group">
			<label for="InputFile">{% trans 'Image' %}</label>
			<input type="file" onmouseout="document.getElementById('uploadfilename_0').value = this.value;" onchange="document.getElementById('uploadfilename_0').value = this.value;" class="uploadfile" id="uploadfile_0" name="uploadfile_0">
		    <div class="fakefile">
		    	<input type="text" onclick="document.getElementById('uploadfile_0').click();" id="uploadfilename_0" value="" class="form-control typefile">
		    </div>
		    <p class="help-block">Files must be less than 2 MB. <br>Allowed file types: png gif jpg jpeg.</p>
		</div>
		<div class="form-group">
			<label for="InputLanguage">{% trans 'Language' %}</label>
			<div class="hfselectList">
				<select class="select-block" name="language">
					<option value="00">{% trans 'Choose language' %}</option>
					<option value="vi">Vietnamese</option>
					<option value="en">English</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="InputKeywords">{% trans 'Keywords' %}</label>
			<input type="text" class="form-control typetext" id="InputKeywords" placeholder="{% trans 'Enter keywords' %}" name="keywords">
		</div>
		<div class="form-group">
			<label for="InputTags">{% trans 'Tags' %}</label>
			<input type="text" class="form-control typetext" id="InputTags" placeholder="{% trans 'Enter tags' %}" name="tags">
		</div>
		<div class="form-group btn-common">
            <input type="hidden" name="step" value="2" />
			<button class="hfbtn-common hfbtn-next right hfbtn-active" value="step2">{% trans 'Next' %}</button>
			<button class="hfbtn-common hfbtn-back right hfbtn-active" value="back">{% trans 'Back' %}</button>
		</div>
    </form>
</div>                    </div>
                    </div>

                </div>
            </div>
{% endblock %}