.voer-mol-ico {
  background: url("../images/icon/icon-module.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 19px;
}

.voer-col-ico {
  background: url("../images/icon/icon-collection.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 21px;
}

.link-other-author-module {
  display: block;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other-module-author {
  height: auto;
}
