.voer-mol-ico {
  background: url("../images/icon/icon-module.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 19px;
}

.voer-col-ico {
  background: url("../images/icon/icon-collection.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 21px;
}

.link-other-author-module {
  display: block;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other-module-author {
  height: auto;
}

.module-view-content .example{
    background-color: #F1F6E6;
    border-top: 2px solid #FAA61A;
    margin: 20px 0;
    padding: 10px;
}

.module-view-content .example .title{
    color: #0061AA;
    font-size: 110%;
    font-weight: bold;
}

.module-view-content .note{
    background-color: #FBF2E2;
    padding: 10px;
}

.module-view-content .note .title{
    color: #0061AA;
    line-height: 2;
    text-decoration: underline;
    text-transform: uppercase;
}

.module-view-content h1,
.module-view-content h2,
.module-view-content h3,
.module-view-content h4,
.module-view-content h5,
.module-view-content h6{
    color: #317EAC;
    font-weight: bold;
}

.module-view-content figure{
    text-align: center;
}

.module-view-content figure figcaption{
    color: #777777;
    font-size: 90%;
    font-style: italic;
}

.module-view-content label.label{
    text-align: left;
    font-size: 100%;
    color: #555;
    font-weight: normal;
    white-space: normal;
    padding: 0px;
    line-height: 20px;
}

.module-view-content img{
    max-width: 740px;
}

.module-view-content p{
    font-size: 14px;
    text-align: justify;
}
.bg-loading {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1000; 
  border: none; 
  width:100%; 
  height:100%; 
  background: url("../images/bg-loading.png") repeat;
}
.bg-loading img {
  top: 49%; 
  left: 49%; 
  position: fixed
}

.collection-save > div {
    background:url('../images/icon/favourite.png') no-repeat center left transparent;
    padding-left:25px;

}
.list-menu-footer {
  margin: 6px 0 0 6px;
  color: #999;
}

.voer-mol-ico {
  background: url("../images/icon/icon-module.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 19px;
}

.voer-col-ico {
  background: url("../images/icon/icon-collection.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 21px;
}

.link-other-author-module {
  display: block;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other-module-author {
  height: auto;
}

.module-view-content .example{
    background-color: #F1F6E6;
    border-top: 2px solid #FAA61A;
    margin: 20px 0;
    padding: 10px;
}

.module-view-content .example .title{
    color: #0061AA;
    font-size: 110%;
    font-weight: bold;
}

.module-view-content .note{
    background-color: #FBF2E2;
    padding: 10px;
}

.module-view-content .note .title{
    color: #0061AA;
    line-height: 2;
    text-decoration: underline;
    text-transform: uppercase;
}

.module-view-content h1,
.module-view-content h2,
.module-view-content h3,
.module-view-content h4,
.module-view-content h5,
.module-view-content h6{
    color: #317EAC;
    font-weight: bold;
}

.module-view-content figure{
    text-align: center;
}

.module-view-content figure figcaption{
    color: #777777;
    font-size: 90%;
    font-style: italic;
}

.module-view-content label.label{
    text-align: left;
    font-size: 100%;
    color: #555;
    font-weight: normal;
    white-space: normal;
    padding: 0px;
    line-height: 20px;
}

.module-view-content img{
    max-width: 740px;
}

.module-view-content p{
    font-size: 14px;
    text-align: justify;
}
.bg-loading {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1000; 
  border: none; 
  width:100%; 
  height:100%; 
  background: url("../images/bg-loading.png") repeat;
}
.bg-loading img {
  top: 49%; 
  left: 49%; 
  position: fixed
}

.collection-save > div {
    background:url('../images/icon/favourite.png') no-repeat center left transparent;
    padding-left:25px;

}
.list-menu-footer {
  margin: 6px 0 0 6px;
  color: #999;

}
.navbar-collapse img {
  width: 22px;
  border: 1px solid #efefef;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
    text-shadow: none;
    border-top: 1px solid #DDD;
}

.tt-suggestion:first-child{
    border-top: none;
}

.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion .item-fullname {
    font-weight: bold;
}

.tt-suggestion .item-email {
    margin: 0;
}

input.search-author{
    width: 420px;
}

.tt-hint{
    display: none;
}

.hfcreate-1 ul.AddCategories li{
    margin: 5px 0px;
}
.hfcreate-1 ul.AddCategories li label.checkbox{
    display: inline-block;
    line-height: 22px;
}

div.fakefile{
    top: 24px;
}

button.hfbtn-common{
    margin-left: 10px;
}

.list-module-name-content{
    height: 230px;
}
.navbar-collapse img {
  width: 22px;
  height: 15px;
  border: 1px solid #efefef;
}

#search-module{
    width: 470px;
}

.jstree-default li[rel=module] a ins {
    background-image:url("/static/images/file.png");
    background-repeat:no-repeat;
    background-color:transparent;
    background-position: 0;
}

.modal-content{
    padding: 10px;
}

.modal-footer{
    border-top: 0px;
}

#voer_sub_sessions{
    width: 100%;
    height: 240px;
    margin-top: 10px;
}

.list-right-top li:nth-child(2) {
    padding: 0;
}

.hfstep ul li{
    width: auto;
    padding-right: 30px;
}

.hfitems.gridview,
.hfitems.gridview.active {
  background: none;
}

.red {
    color: red;
}

.btn-sign-up{
    padding-right: 50px;
}

.hfcreate-1 .tab-content .content .form-control.typetext, .content .form-control.typetext{
    width: 80%
}