.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear:both;
}

.voer-mol-ico {
  background: url("../images/icon/icon-module.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 19px;
}
.text-justify {
    text-align: justify;
}
.voer-col-ico {
  background: url("../images/icon/icon-collection.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 21px;
}

.link-other-author-module {
  display: block;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other-module-author {
  height: auto;
}

.module-view-content .example{
    background-color: #F1F6E6;
    border-top: 2px solid #FAA61A;
    margin: 20px 0;
    padding: 10px;
}

.module-view-content .example .title{
    color: #0061AA;
    font-size: 110%;
    font-weight: bold;
}

.module-view-content .note{
    background-color: #FBF2E2;
    padding: 10px;
}

.module-view-content .note .title{
    color: #0061AA;
    line-height: 2;
    text-decoration: underline;
    text-transform: uppercase;
}

.module-view-content h1,
.module-view-content h2,
.module-view-content h3,
.module-view-content h4,
.module-view-content h5,
.module-view-content h6{
    color: #317EAC;
    font-weight: bold;
}

.module-view-content figure{
    text-align: center;
}

.module-view-content figure figcaption{
    color: #777777;
    font-size: 90%;
    font-style: italic;
}

.module-view-content label.label{
    text-align: left;
    font-size: 100%;
    color: #555;
    font-weight: normal;
    white-space: normal;
    padding: 0px;
    line-height: 20px;
}

.module-view-content img{
    max-width: 740px;
}

.module-view-content p{
    font-size: 14px;
    text-align: justify;
}
.bg-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: none;
  width:100%;
  height:100%;
  background: url("../images/bg-loading.png") repeat;
}
.bg-loading img {
  top: 49%;
  left: 49%;
  position: fixed
}

.collection-save > div {
    background:url('../images/icon/favourite.png') no-repeat center left transparent;
    padding-left:25px;

}

.voer-mol-ico {
  background: url("../images/icon/icon-module.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 19px;
}

.voer-col-ico {
  background: url("../images/icon/icon-collection.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 15px;
  margin-right: 10px;
  margin-top: 7px;
  width: 21px;
}

.link-other-author-module {
  display: block;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other-module-author {
  height: 158px;
  overflow: hidden;
}

.module-view-content .example{
    background-color: #F1F6E6;
    border-top: 2px solid #FAA61A;
    margin: 20px 0;
    padding: 10px;
}

.module-view-content .example .title{
    color: #0061AA;
    font-size: 110%;
    font-weight: bold;
}

.module-view-content .note{
    background-color: #FBF2E2;
    padding: 10px;
}

.module-view-content .note .title{
    color: #0061AA;
    line-height: 2;
    text-decoration: underline;
    text-transform: uppercase;
}

.module-view-content h1,
.module-view-content h2,
.module-view-content h3,
.module-view-content h4,
.module-view-content h5,
.module-view-content h6{
    color: #317EAC;
    font-weight: bold;
}

.module-view-content figure{
    text-align: center;
}

.module-view-content figure figcaption{
    color: #777777;
    font-size: 90%;
    font-style: italic;
}

.module-view-content label.label{
    text-align: left;
    font-size: 100%;
    color: #555;
    font-weight: normal;
    white-space: normal;
    padding: 0px;
    line-height: 20px;
}

.module-view-content img{
    max-width: 740px;
}

.module-view-content p{
    font-size: 14px;
    text-align: justify;
}
.bg-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: none;
  width:100%;
  height:100%;
  background: url("../images/bg-loading.png") repeat;
}
.bg-loading img {
  top: 49%;
  left: 49%;
  position: fixed
}

.collection-save > div {
    background:url('../images/icon/favourite.png') no-repeat center left transparent;
    padding-left:25px;

}
.list-menu-footer {
  margin: 6px 0 0 6px;
  color: #555;

}
.navbar-collapse img {
  width: 22px;
  border: 1px solid #efefef;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
    text-shadow: none;
    border-top: 1px solid #DDD;
}

.tt-suggestion:first-child{
    border-top: none;
}

.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion .item-fullname {
    font-weight: bold;
}

.tt-suggestion .item-email {
    margin: 0;
}

input.search-author{
    width: 420px;
}

.tt-hint{
    display: none;
}

.hfcreate-1 ul.AddCategories li{
    margin: 5px 0px;
}
.hfcreate-1 ul.AddCategories li label.checkbox{
    display: inline-block;
    line-height: 22px;
}

div.fakefile{
    top: 24px;
    width: auto;
}

div.fakefile input{
    width: 300px;
    display: inline-block;
    padding-right: 30px;
}

button.hfbtn-common{
    margin-left: 10px;
}

.list-module-name-content{
    height: 230px;
}

.list-module-name-content li, .hffolders ul ul li{
  background: url("../images/menu_dot.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0);
}

.list-module-name-content li > a.active{
  font-weight: bold;
}

.list-module-name-content li.folder{
  background: url("../images/bullet-w2.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
}

.list-module-name-content li.folder.open{
  background: url("../images/bullet-w3.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0);
}

.module-view-author-block{
    width: 150px;
    text-align: center;
}

.navbar-collapse img {
  width: 22px;
  height: 15px;
  border: 1px solid #efefef;
}

#search-module{
    width: 470px;
}

.jstree-default li[rel=module] a ins {
    background-image:url("/static/images/file.png");
    background-repeat:no-repeat;
    background-color:transparent;
    background-position: 0;
}

.modal-content{
    padding: 10px;
}

.modal-footer{
    border-top: 0px;
}

#voer_sub_sessions{
    width: 100%;
    height: 240px;
    margin-top: 10px;
}

.list-right-top li:nth-child(2) {
    padding: 0;
}

.hfstep ul li{
    width: auto;
    padding-right: 30px;
}

.hfitems.gridview,
.hfitems.gridview.active {
  background: none;
}

.red {
    color: red;
}

.btn-sign-up{
    padding-right: 50px;
}

.hfcreate-1 .tab-content .content .form-control.typetext, .content .form-control.typetext{
    width: 80%
}

#slider{
  padding-top: 60px;
  margin-bottom: 0;
}

.info-collection {
  height: 88px;
  margin-bottom: 0;
  border-bottom: none;
}

.sp-container ul.list-module-name-content {
  height: auto;
}
.btn-sign-up{
    padding-right: 50px;
}

.hfcreate-1 .tab-content .content .form-control.typetext, .content .form-control.typetext{
    width: 80%;
}

#slider{
  padding-top: 60px;
  margin-bottom: 0;
}

.info-collection {
  height: 88px;
  margin-bottom: 0;
}
.hfuser-information {
    width: 70%;
}
.hfuser-info {
    display: block;
}
.title-collection {
    max-height: 40px;
    overflow: hidden;
}
.hfitems.gridview .hfitem .short-collection {
    height: 36px;
}
/*.content{
  padding:10px 20px;
  margin-bottom:20px;
  overflow:hidden;
}*/
.hfuser-address,
.hfuser-website {
    margin-left: 191px;
}
.hfcontrol .back.disabled {
    background: url("../images/icon/back_disabled.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #979797;
    cursor: default;
}
.hfcontrol .next.disabled {
    background: url("../images/icon/next_disabled.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #979797;
    cursor: default;
}
.ajax-loading {
  font-size: 12px;
  font-weight: bold;
  background: #FFF none repeat scroll;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  text-align: center;
}

.ajax-loading img {
  vertical-align: middle;
  margin-right: 10px;
}
.no-data {
    padding: 10px 15px;
}

#pdf-download{
    cursor: hand;
}
#more-download{
    clear: both;
    border: 1px solid #DFDFDF;
}
#more-download ul{
    padding: 3px 8px;
}
#more-download li{
    padding-left: 35px;
    line-height: 25px;
}
#more-download li.module{
    background: url("../images/icon/icon-module.png") no-repeat 0 4px;
}

#more-download li.collection{
    background: url("../images/icon/icon-collection.png") no-repeat 0 4px;
}

.error-404-page .big-error {
    color: #ffffff;
    font-family: museo-sans,sans-serif;
    font-size: 175px;
    font-weight: 100;
    line-height: 175px;
    margin-top: 20px;
    opacity: 0.85;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.05);
}
.error-404-page h2 {
    color: #46433E;
    font-family: museo-sans,sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    margin: 13px auto 0;
    text-align: center;
}
.error-404-page form {
    background-color: rgba(94, 88, 78, 0.06);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin: 35px auto 60px;
    padding: 10px;
    width: 304px;
}
.error-404-page form input {
    width: 280px;
}

.error-500-page {
    margin: 50px auto 40px;
    text-align: center;
    width: 600px;
}
.error-500-page p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 200;
    line-height: 1.6em;
    margin: 10px 0;
}
.error-500-page #suggestions {
    color: #CCCCCC;
    margin-top: 35px;
    padding-bottom: 35px;
}
.error-500-page #suggestions a {
    color: #666666;
    font-size: 14px;
    font-weight: 200;
    margin: 0 10px;
}
.error-500-page #suggestions a:hover {
    text-decoration: underline;
}

label.more-author{
    display: block;
}
#materials {
    min-height: 40px;
}
div.content-wrapper {
    overflow: hidden;
}
div.content-wrapper .left-row {
    margin-bottom: -100%;
    padding-bottom: 100%;
}
div.content-wrapper .right-row {
    margin-bottom: -100%;
    padding-bottom: 100%;
}
div.checkbox-select-items {
    margin-top: 1px;
    margin-right: 10px;
}
.block-showpassword {
    position: absolute;
    right: -130px;
    top: 6px;
}
.form-wrap-password {
    position: relative;
}
.checkbox .icons, .radio .icons {
    color: #d0d0d0;
}
.btn-delete-items {
    background: url("../images/icon/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 18px;
    margin-left: 10px;
    margin-top: 9px;
    width: 11px;
}
.display_none {
    display: none;
}
.hfitem a.category-item {
    margin-right: 10px;
}

#main_list .hfcheckinfo a{
    color: #555;
}

h1.module-view-name{
    margin: 0 0 11px 0;
    font-size: 24px;
    color: #317EAC;
}

h1.sub-title{
    font-size: 22px;
    color: #C10C3E;
}

.text-header-slider-left{
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 36px;
    line-height: 1;
}

.div-input-search{
    margin-top: 15px;
}

.btn-top-login{
    background: none;
    width: auto;
    float: none;
}

.logo{
    background: url(../images/voer-new.png) no-repeat;
}

#top{
    background-color: #ce204e;
}
article.flatpage {
  padding: 25px 25px 25px 10px;
  font-size: 14px;
  font-family: Arial;
}
.article-title {
  text-transform: uppercase;
  margin: 0 0 15px 0;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: solid 1px #f1f1f1;
}
.list-content-extra {
    margin-top: 5px;
    width: 100%;
}
.list-content-extra li {
    background: url("../images/arrow-red-list.png") no-repeat scroll left 5px rgba(0, 0, 0, 0);
    overflow: hidden;
    padding-left: 12px;
}
<<<<<<< HEAD
.form-control.textbox {
    width: 40%;
    float: left;
}
.btn-add-material, .btn-add-author {
    line-height: 24px;
    margin-left: 8px;
    border: none;
}
.right-row {
    //padding: 15px;
}
.center {
    text-align: center;
}
.hficon.center{
    margin: 0 auto;
}
.hficon.delete{
    border: none;
}
.module-view-title {
  border-top: solid 5px #B8CEE6;
  border-radius: 0px;
}
.attach-list {
  width: 100%;
}
#material-right-side h4 {
  font-size: 10px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.attach-list ul {
  padding-left: 15px;
}
.attach-list li {
  list-style: inherit;
}
.download-reuse > div:first-child {
  border-right: solid 1px #fff;
}
.download-reuse a {
  color: white;
}
#module-others li,
#module-similars li {
  margin-bottom: 2px;
}
#material-bottom-actions {
  width: 50%;
}
#material-bottom-actions .module-block-header {
  background-color: #f1f1f1;
}
#by-same-author {
  border-top: 1px solid #e8e8e8;
}
