{% extends "base/base-content.html" %}

{% load i18n %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.leanModal.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/voer-collection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hogan.js"></script>
    <script>
    $(document).ready(function(){
        jQuery.fn.addBack = jQuery.fn.andSelf;

        $('#search-module').typeahead({
            name: 'modules',
            valueKey: 'title',
            remote: "{% url 'ajax_search_module' %}?keyword=%QUERY",
            template: [
                '<p class="item-fullname">{% verbatim %}{{title}}{% endverbatim %}</p>',
                '<p class="item-email">{% verbatim %}{{fullname}}{% endverbatim %} - {% verbatim %}{{modified}}{% endverbatim %}</p>',
            ].join(''),
            engine: Hogan,
            limit: 10
        });

        $('#search-module').on('typeahead:selected', function (object, datum) {
            $('#search-author').val('');

            var parentNode = -1;
            if ($("#collection-outline").jstree("get_selected")){
                if ($("#collection-outline").jstree("get_selected").length > 1){
                    parentNode = $('ul>li#root-outline');
                }else{
                    var selected = $("#collection-outline").jstree("get_selected");
                    if (selected.attr("rel") == "bundle" || selected.attr("rel") == "root"){
                        parentNode = null;
                    }else{
                        parentNode = $('ul>li#root-outline');
                    }
                }
            }
            title = datum.title;
            id = datum.material_id + "|" + datum.version;
            idSearch = datum.material_id + "\\|" + datum.version;

            if ($("#collection-outline").find('#' + idSearch).length > 0){
                alert('Module da ton tai!');
            }else{
                $("#collection-outline").jstree("create", parentNode, "last", { "data": title, "attr" : { "id": id, "rel" : "module" } });
                $("#collection-outline").find('input.jstree-rename-input').blur();
                $(this).val('');
            }
        });

        $('.search-author').typeahead({
            name: 'authors',
            valueKey: 'fullname',
            remote: "{% url 'ajax_search_author' %}?keyword=%QUERY",
            template: [
                '<p class="item-fullname">{% verbatim %}{{fullname}}{% endverbatim %}</p>',
                '<p class="item-email">{% verbatim %}{{affiliation}}{% endverbatim %}</p>',
            ].join(''),
            engine: Hogan,
            limit: 10
        });

        $('.search-author').on('typeahead:selected', function (object, datum) {
            var template = Hogan.compile(ITEM_TEMPLATE);
            var output = template.render(datum);
            $('#listAuthor tbody').append(output);
            $('.search-author').val('');
        });


        var ITEM_TEMPLATE = ['<tr>',
            '<td class="author-block">',
            '<a class="hfbtn-author" href="#">{% verbatim %}{{fullname}}{% endverbatim %}',
            '<div class="author-information">',
            '<div class="avatar left">',
            '<img src="images/avatar.jpg" width="70px" height="70px">',
            '</div>',
            '<div class="right">',
            '<div class="user-name">{% verbatim %}{{fullname}}{% endverbatim %}</div>',
            '<div class="user-address">{% verbatim %}{{affiliation}}{% endverbatim %}</div>',
            '<div class="user-website">{% verbatim %}{{homepage}}{% endverbatim %}</div>',
            '</div>',
            '</div>',
            '</a>',
            '</td>',
            '<td>',
            '<input type="checkbox" value="{% verbatim %}{{id}}{% endverbatim %}" name="author">',
            '</td>',
            '<td>',
            '<input type="checkbox" value="{% verbatim %}{{id}}{% endverbatim %}" name="editor">',
            '</td>',
            '<td>',
            '<input type="checkbox" value="{% verbatim %}{{id}}{% endverbatim %}" name="licensor">',
            '</td>',
            '<td>',
            '<input type="checkbox" value="{% verbatim %}{{id}}{% endverbatim %}" name="maintainer">',
            '</td>',
            '<td>',
            '<input type="checkbox" value="{% verbatim %}{{id}}{% endverbatim %}" name="translator">',
            '</td>',
            '<td>',
            '<input type="checkbox" value="{% verbatim %}{{id}}{% endverbatim %}" name="coeditor">',
            '</td>',
            '<td><div class="hfbtn-delete" onclick="delete_row_author(this)"></div></td>',
            '</tr>'].join('\n');
    });
    </script>
{% endblock %}

{% block titleSite %}{% trans 'Create collection' %}{% endblock %}

{% block content %}

    <!-- filter top -->
    <div class="hfcreate">
        <div class="breakcump left">
            <span>{% trans 'Create Content' %}</span>
            <span class="icon"></span>
            <span class="current">{% trans 'Create a new collection' %}</span>
        </div>
        <div class="hfstep">
            <ul>
                <li class="active"><a id="hfstep-1">
                    <div class="step">1</div>
                    {% trans 'License' %}</a></li>
                <li class="active"><a id="hfstep-2">
                    <div class="step">2</div>
                    {% trans 'Metadata' %}</a></li>
                <li class="active"><a id="hfstep-3">
                    <div class="step">3</div>
                    {% trans 'Content' %}</a></li>
            </ul>
        </div>
    </div>
    {% include "frontend/block/left_block_user.html" %}
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="step" value="3"/>
        <input type="hidden" name="mid" value="{{ material.id }}"/>
        <input type="hidden" name="version" value="{{ material.version }}" />
        <div class="col-lg-1 col-lg-1-custom right-row">
            <div class="hfcreate-1">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="#metadata" data-toggle="tab">{% trans 'Metadata' %}</a></li>
                    <li class="active"><a href="#content" data-toggle="tab">{% trans 'Content' %}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="metadata">
                        <div class="content">
                            <div class="form-group">
                                <label for="InputEmail1">{% trans 'Title' %}</label>
                                <input class="form-control typetext" id="InputText" placeholder="Enter Title"
                                       type="text" name="title" value="{{ material.title }}">
                            </div>
                            <div class="form-group">
                                <label for="InputDescription">{% trans 'Description' %}</label>
                                <textarea rows="4" class="form-control"
                                          name="description">{{ material.description }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="InputAuthor">{% trans 'Author' %}</label>
                            </div>
                            <div class="form-group listAuthor">
                                <table class="listAuthor" id="author">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Name' %}</th>
                                            <th>{% trans 'Author' %}</th>
                                            <th>{% trans 'Editor' %}</th>
                                            <th>{% trans 'Licensor' %}</th>
                                            <th>{% trans 'Maintainer' %}</th>
                                            <th>{% trans 'Translator' %}</th>
                                            <th>{% trans 'Contributor' %}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for author in authors %}
                                        <tr>
                                            <td class="author-block">
                                                <a class="hfbtn-author" href="#">{{ author.fullname }}
                                                    <div class="author-information">
                                                        <div class="avatar left">
                                                            <img src="images/avatar.jpg" width="70px" height="70px">
                                                        </div>
                                                        <div class="right">
                                                            <div class="user-name">{{ author.fullname }}</div>
                                                            <div class="user-address">{{ author.affiliation }}</div>
                                                            <div class="user-website">{{ author.homepage }}</div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <input type="checkbox" value="{{ author.id }}" name="author" {% if author.id|stringformat:"s" in roles.author %}checked{% endif %} />
                                            </td>
                                            <td>
                                                <input type="checkbox" value="{{ author.id }}" name="editor" {% if author.id|stringformat:"s" in roles.editor %}checked{% endif %}/>
                                            </td>
                                            <td>
                                                <input type="checkbox" value="{{ author.id }}" name="licensor" {% if author.id|stringformat:"s" in roles.licensor %}checked{% endif %} />
                                            </td>
                                            <td>
                                                <input type="checkbox" value="{{ author.id }}" name="maintainer" {% if author.id|stringformat:"s" in roles.maintainer %}checked{% endif %} />
                                            </td>
                                            <td>
                                                <input type="checkbox" value="{{ author.id }}" name="translator" {% if author.id|stringformat:"s" in roles.translator %}checked{% endif %} />
                                            </td>
                                            <td>
                                                <input type="checkbox" value="{{ author.id }}" name="coeditor" {% if author.id|stringformat:"s" in roles.coeditor %}checked{% endif %} />
                                            </td>
                                            <td style="width:25px;">&nbsp;</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <label for="InputAuthor">{% trans 'Add new author' %}</label><br/>
                                <input class="form-control search-author" id="InputAuthor" placeholder="Search author" type="text">
                            </div>
                            <div class="form-group listAuthor">
                                <table class="listAuthor" id="listAuthor">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Name' %}</th>
                                            <th>{% trans 'Author' %}</th>
                                            <th>{% trans 'Editor' %}</th>
                                            <th>{% trans 'Licensor' %}</th>
                                            <th>{% trans 'Maintainer' %}</th>
                                            <th>{% trans 'Translator' %}</th>
                                            <th>{% trans 'Contributor' %}</th>
                                            <th style="width: 25px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group">
                                <label for="InputCategories">{% trans 'Categories' %}</label>
                                <ul class="AddCategories">
                                    {% for category in categories %}
                                        <li>
                                            <label class="checkbox checkbox-user-tool">
                                                <span class="icons">
                                                    <span class="first-icon fui-checkbox-unchecked"></span>
                                                    <span class="second-icon fui-checkbox-checked"></span>
                                                </span>
                                                <input data-toggle="checkbox" type="checkbox" name="categories"
                                                       value="{{ category.id }}"
                                                       {% if category.id|stringformat:"s" in material_categories %}checked{% endif %}>
                                                {% trans category.name %}
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="InputLanguage">{% trans 'Language' %}</label>

                                <div class="hfselectList">
                                    <select name="language" class="select-block">
                                        <option>{% trans 'Choose language' %}</option>
                                        <option value="vi" {% if material.language == "vi" %}selected="selected"{% endif %}>Tiếng Việt</option>
                                        <option value="en" {% if material.language == "en" %}selected="selected"{% endif %}>English</option>
                                        <option value="af" {% if material.language == "af" %}selected="selected"{% endif %}>Afrikaans</option>
                                        <option value="ay" {% if material.language == "ay" %}selected="selected"{% endif %}>Aymara</option>
                                        <option value="az" {% if material.language == "az" %}selected="selected"{% endif %}>Azəri Türkçəsi</option>
                                        <option value="id" {% if material.language == "id" %}selected="selected"{% endif %}>Bahasa Indonesia</option>
                                        <option value="ms" {% if material.language == "ms" %}selected="selected"{% endif %}>Bahasa Melayu</option>
                                        <option value="jw" {% if material.language == "jw" %}selected="selected"{% endif %}>Basa Jawi</option>
                                        <option value="ba" {% if material.language == "ba" %}selected="selected"{% endif %}>Bashkir</option>
                                        <option value="bh" {% if material.language == "bh" %}selected="selected"{% endif %}>Bihari</option>
                                        <option value="bi" {% if material.language == "bi" %}selected="selected"{% endif %}>Bislama</option>
                                        <option value="bs" {% if material.language == "bs" %}selected="selected"{% endif %}>Bosanski</option>
                                        <option value="br" {% if material.language == "br" %}selected="selected"{% endif %}>Brezhoneg</option>
                                        <option value="my" {% if material.language == "my" %}selected="selected"{% endif %}>Burmese</option>
                                        <option value="ca" {% if material.language == "ca" %}selected="selected"{% endif %}>Català</option>
                                        <option value="ch" {% if material.language == "ch" %}selected="selected"{% endif %}>Chamoru</option>
                                        <option value="co" {% if material.language == "co" %}selected="selected"{% endif %}>Corsu</option>
                                        <option value="cy" {% if material.language == "cy" %}selected="selected"{% endif %}>Cymraeg</option>
                                        <option value="da" {% if material.language == "da" %}selected="selected"{% endif %}>Dansk</option>
                                        <option value="de" {% if material.language == "de" %}selected="selected"{% endif %}>Deutsch</option>
                                        <option value="et" {% if material.language == "et" %}selected="selected"{% endif %}>Eesti</option>
                                        <option value="es" {% if material.language == "es" %}selected="selected"{% endif %}>Español</option>
                                        <option value="eo" {% if material.language == "eo" %}selected="selected"{% endif %}>Esperanto</option>
                                        <option value="eu" {% if material.language == "eu" %}selected="selected"{% endif %}>Euskara</option>
                                        <option value="fj" {% if material.language == "fj" %}selected="selected"{% endif %}>Fiji</option>
                                        <option value="fr" {% if material.language == "fr" %}selected="selected"{% endif %}>Français</option>
                                        <option value="fy" {% if material.language == "fy" %}selected="selected"{% endif %}>Frysk</option>
                                        <option value="fo" {% if material.language == "fo" %}selected="selected"{% endif %}>Føroyska</option>
                                        <option value="ga" {% if material.language == "ga" %}selected="selected"{% endif %}>Gaeilge</option>
                                        <option value="gv" {% if material.language == "gv" %}selected="selected"{% endif %}>Gaelg</option>
                                        <option value="gl" {% if material.language == "gl" %}selected="selected"{% endif %}>Galego</option>
                                        <option value="kl" {% if material.language == "kl" %}selected="selected"{% endif %}>Greenlandic</option>
                                        <option value="gn" {% if material.language == "gn" %}selected="selected"{% endif %}>Guarani</option>
                                        <option value="gd" {% if material.language == "gd" %}selected="selected"{% endif %}>Gàidhlig</option>
                                        <option value="hr" {% if material.language == "hr" %}selected="selected"{% endif %}>Hrvatski</option>
                                        <option value="ia" {% if material.language == "ia" %}selected="selected"{% endif %}>Interlingua</option>
                                        <option value="ie" {% if material.language == "ie" %}selected="selected"{% endif %}>Interlingue</option>
                                        <option value="ik" {% if material.language == "ik" %}selected="selected"{% endif %}>Inupiak</option>
                                        <option value="it" {% if material.language == "it" %}selected="selected"{% endif %}>Italiano</option>
                                        <option value="kw" {% if material.language == "kw" %}selected="selected"{% endif %}>Kernewek</option>
                                        <option value="rn" {% if material.language == "rn" %}selected="selected"{% endif %}>Kirundi</option>
                                        <option value="sw" {% if material.language == "sw" %}selected="selected"{% endif %}>Kiswahili</option>
                                        <option value="rw" {% if material.language == "rw" %}selected="selected"{% endif %}>Kiyarwanda</option>
                                        <option value="ku" {% if material.language == "ku" %}selected="selected"{% endif %}>Kurdí</option>
                                        <option value="oc" {% if material.language == "oc" %}selected="selected"{% endif %}>Languedoc</option>
                                        <option value="la" {% if material.language == "la" %}selected="selected"{% endif %}>Latin</option>
                                        <option value="lv" {% if material.language == "lv" %}selected="selected"{% endif %}>Latviešu</option>
                                        <option value="to" {% if material.language == "to" %}selected="selected"{% endif %}>Lea faka-Tonga</option>
                                        <option value="lt" {% if material.language == "lt" %}selected="selected"{% endif %}>Lietuviskai</option>
                                        <option value="li" {% if material.language == "li" %}selected="selected"{% endif %}>Limburgs</option>
                                        <option value="ln" {% if material.language == "ln" %}selected="selected"{% endif %}>Lingala</option>
                                        <option value="lb" {% if material.language == "lb" %}selected="selected"{% endif %}>Lëtzebuergesch</option>
                                        <option value="hu" {% if material.language == "hu" %}selected="selected"{% endif %}>Magyar</option>
                                        <option value="mg" {% if material.language == "mg" %}selected="selected"{% endif %}>Malagasy</option>
                                        <option value="mt" {% if material.language == "mt" %}selected="selected"{% endif %}>Malti</option>
                                        <option value="mi" {% if material.language == "mi" %}selected="selected"{% endif %}>Maori</option>
                                        <option value="mo" {% if material.language == "mo" %}selected="selected"{% endif %}>Moldavian</option>
                                        <option value="na" {% if material.language == "na" %}selected="selected"{% endif %}>Nauru</option>
                                        <option value="nl" {% if material.language == "nl" %}selected="selected"{% endif %}>Nederlands</option>
                                        <option value="no" {% if material.language == "no" %}selected="selected"{% endif %}>Norsk</option>
                                        <option value="se" {% if material.language == "se" %}selected="selected"{% endif %}>Northern Sámi</option>
                                        <option value="nn" {% if material.language == "nn" %}selected="selected"{% endif %}>Nynorsk</option>
                                        <option value="om" {% if material.language == "om" %}selected="selected"{% endif %}>Oromo</option>
                                        <option value="pl" {% if material.language == "pl" %}selected="selected"{% endif %}>Polski</option>
                                        <option value="pt" {% if material.language == "pt" %}selected="selected"{% endif %}>Português</option>
                                        <option value="qu" {% if material.language == "qu" %}selected="selected"{% endif %}>Quechua</option>
                                        <option value="ro" {% if material.language == "ro" %}selected="selected"{% endif %}>Română</option>
                                        <option value="rm" {% if material.language == "rm" %}selected="selected"{% endif %}>Rumantsch</option>
                                        <option value="sm" {% if material.language == "sm" %}selected="selected"{% endif %}>Samoan</option>
                                        <option value="sg" {% if material.language == "sg" %}selected="selected"{% endif %}>Sangho</option>
                                        <option value="sh" {% if material.language == "sh" %}selected="selected"{% endif %}>Serbo-Croatian</option>
                                        <option value="st" {% if material.language == "st" %}selected="selected"{% endif %}>Sesotho</option>
                                        <option value="tn" {% if material.language == "tn" %}selected="selected"{% endif %}>Setswana</option>
                                        <option value="sn" {% if material.language == "sn" %}selected="selected"{% endif %}>Shona</option>
                                        <option value="sq" {% if material.language == "sq" %}selected="selected"{% endif %}>Shqip</option>
                                        <option value="sd" {% if material.language == "sd" %}selected="selected"{% endif %}>Sindhi</option>
                                        <option value="si" {% if material.language == "si" %}selected="selected"{% endif %}>Singhalese</option>
                                        <option value="ss" {% if material.language == "ss" %}selected="selected"{% endif %}>Siswati</option>
                                        <option value="sk" {% if material.language == "sk" %}selected="selected"{% endif %}>Slovenčina</option>
                                        <option value="sl" {% if material.language == "sl" %}selected="selected"{% endif %}>Slovenščina</option>
                                        <option value="so" {% if material.language == "so" %}selected="selected"{% endif %}>Somali</option>
                                        <option value="su" {% if material.language == "su" %}selected="selected"{% endif %}>Sudanese</option>
                                        <option value="fi" {% if material.language == "fi" %}selected="selected"{% endif %}>Suomi</option>
                                        <option value="sv" {% if material.language == "sv" %}selected="selected"{% endif %}>Svenska</option>
                                        <option value="tl" {% if material.language == "tl" %}selected="selected"{% endif %}>Tagalog</option>
                                        <option value="ts" {% if material.language == "ts" %}selected="selected"{% endif %}>Tsonga</option>
                                        <option value="tw" {% if material.language == "tw" %}selected="selected"{% endif %}>Twi</option>
                                        <option value="tr" {% if material.language == "tr" %}selected="selected"{% endif %}>Türkçe</option>
                                        <option value="ug" {% if material.language == "ug" %}selected="selected"{% endif %}>Uigur</option>
                                        <option value="vo" {% if material.language == "vo" %}selected="selected"{% endif %}>Volapük</option>
                                        <option value="wa" {% if material.language == "wa" %}selected="selected"{% endif %}>Walon</option>
                                        <option value="wo" {% if material.language == "wo" %}selected="selected"{% endif %}>Wolof</option>
                                        <option value="yo" {% if material.language == "yo" %}selected="selected"{% endif %}>Yorùbá</option>
                                        <option value="za" {% if material.language == "za" %}selected="selected"{% endif %}>Zhuang</option>
                                        <option value="xh" {% if material.language == "xh" %}selected="selected"{% endif %}>isiXhosa</option>
                                        <option value="zu" {% if material.language == "zu" %}selected="selected"{% endif %}>isiZulu</option>
                                        <option value="jbo" {% if material.language == "jbo" %}selected="selected"{% endif %}>lojban</option>
                                        <option value="is" {% if material.language == "is" %}selected="selected"{% endif %}>Íslenska</option>
                                        <option value="cs" {% if material.language == "cs" %}selected="selected"{% endif %}>Čeština</option>
                                        <option value="el" {% if material.language == "el" %}selected="selected"{% endif %}>Ελληνικά</option>
                                        <option value="uz" {% if material.language == "uz" %}selected="selected"{% endif %}>Ўзбекча</option>
                                        <option value="be" {% if material.language == "be" %}selected="selected"{% endif %}>Беларускі</option>
                                        <option value="bg" {% if material.language == "bg" %}selected="selected"{% endif %}>Български</option>
                                        <option value="ky" {% if material.language == "ky" %}selected="selected"{% endif %}>Кыргыз</option>
                                        <option value="mk" {% if material.language == "mk" %}selected="selected"{% endif %}>Македонски</option>
                                        <option value="mn" {% if material.language == "mn" %}selected="selected"{% endif %}>Монгол</option>
                                        <option value="ru" {% if material.language == "ru" %}selected="selected"{% endif %}>Русский</option>
                                        <option value="tg" {% if material.language == "tg" %}selected="selected"{% endif %}>Тоҷики</option>
                                        <option value="uk" {% if material.language == "uk" %}selected="selected"{% endif %}>Українська</option>
                                        <option value="ab" {% if material.language == "ab" %}selected="selected"{% endif %}>бызшәа</option>
                                        <option value="aa" {% if material.language == "aa" %}selected="selected"{% endif %}>магIарул мацI</option>
                                        <option value="sr" {% if material.language == "sr" %}selected="selected"{% endif %}>српски</option>
                                        <option value="tt" {% if material.language == "tt" %}selected="selected"{% endif %}>татарча</option>
                                        <option value="tk" {% if material.language == "tk" %}selected="selected"{% endif %}>түркmенче</option>
                                        <option value="hy" {% if material.language == "hy" %}selected="selected"{% endif %}>Հայերէն</option>
                                        <option value="he" {% if material.language == "he" %}selected="selected"{% endif %}>עברית</option>
                                        <option value="yi" {% if material.language == "yi" %}selected="selected"{% endif %}>ײִדיש</option>
                                        <option value="ur" {% if material.language == "ur" %}selected="selected"{% endif %}>اردو</option>
                                        <option value="ar" {% if material.language == "ar" %}selected="selected"{% endif %}>العربية</option>
                                        <option value="fa" {% if material.language == "fa" %}selected="selected"{% endif %}>فارسی</option>
                                        <option value="ha" {% if material.language == "ha" %}selected="selected"{% endif %}>هَوُس</option>
                                        <option value="ps" {% if material.language == "ps" %}selected="selected"{% endif %}>پښتو</option>
                                        <option value="ks" {% if material.language == "ks" %}selected="selected"{% endif %}>काऽशुर</option>
                                        <option value="ne" {% if material.language == "ne" %}selected="selected"{% endif %}>नेपाली</option>
                                        <option value="mr" {% if material.language == "mr" %}selected="selected"{% endif %}>मराठी</option>
                                        <option value="sa" {% if material.language == "sa" %}selected="selected"{% endif %}>संस्कृत</option>
                                        <option value="hi" {% if material.language == "hi" %}selected="selected"{% endif %}>हिंदी</option>
                                        <option value="as" {% if material.language == "as" %}selected="selected"{% endif %}>অসমিয়া</option>
                                        <option value="bn" {% if material.language == "bn" %}selected="selected"{% endif %}>বাংলা</option>
                                        <option value="pa" {% if material.language == "pa" %}selected="selected"{% endif %}>ਪੰਜਾਬੀ</option>
                                        <option value="gu" {% if material.language == "gu" %}selected="selected"{% endif %}>ગુજરાતી</option>
                                        <option value="or" {% if material.language == "or" %}selected="selected"{% endif %}>ଓଡ଼ିଆ</option>
                                        <option value="ta" {% if material.language == "ta" %}selected="selected"{% endif %}>தமிழ</option>
                                        <option value="te" {% if material.language == "te" %}selected="selected"{% endif %}>తెలుగు</option>
                                        <option value="kn" {% if material.language == "kn" %}selected="selected"{% endif %}>ಕನ್ನಡ</option>
                                        <option value="ml" {% if material.language == "ml" %}selected="selected"{% endif %}>മലയാളം</option>
                                        <option value="th" {% if material.language == "th" %}selected="selected"{% endif %}>ไทย</option>
                                        <option value="lo" {% if material.language == "lo" %}selected="selected"{% endif %}>ພາສາລາວ</option>
                                        <option value="bo" {% if material.language == "bo" %}selected="selected"{% endif %}>བོད་སྐད་</option>
                                        <option value="dz" {% if material.language == "dz" %}selected="selected"{% endif %}>རྫོང་ཁ</option>
                                        <option value="ka" {% if material.language == "ka" %}selected="selected"{% endif %}>ქართული</option>
                                        <option value="ti" {% if material.language == "ti" %}selected="selected"{% endif %}>ትግርኛ</option>
                                        <option value="am" {% if material.language == "am" %}selected="selected"{% endif %}>አማርኛ</option>
                                        <option value="iu" {% if material.language == "iu" %}selected="selected"{% endif %}>ᐃᓄᒃᑎᑐᑦ</option>
                                        <option value="km" {% if material.language == "km" %}selected="selected"{% endif %}>ខ្មែរ</option>
                                        <option value="zh" {% if material.language == "zh" %}selected="selected"{% endif %}>中文</option>
                                        <option value="ja" {% if material.language == "ja" %}selected="selected"{% endif %}>日本語</option>
                                        <option value="ko" {% if material.language == "ko" %}selected="selected"{% endif %}>한국어</option>
                                        <option value="kk" {% if material.language == "kk" %}selected="selected"{% endif %}>ﻗﺎﺯﺍﻗﺸﺎ</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputKeywords">{% trans 'Keywords' %}</label>
                                <textarea rows="4" name="keywords" class="form-control" id="InputKeywords">{{ material.keywords }}</textarea>
                                <p class="help-block">{% trans 'Each keyword per line' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="content">
                        <div class="content">
                            <div class="form-group">
                                {% if form.body.value %}
                                <input type="hidden" name="body" id="voer-outline-text" value='{{ form.body.value }}' />
                                {% else %}
                                <input type="hidden" name="body" id="voer-outline-text" value='[{"attr":{"id":"root-outline","rel":"root"},"data":"Outline","state":"open"}]' />
                                {% endif %}

                                <div id="collection-outline" class="demo" style="height:300px;"></div>
                            </div>
                            <div class="form-group btn-common">
                                <div class="hfleft left">
                                    <a class="hfbtn-common hfbtn-next hfbtn-active" href="#"
                                       data-toggle="modal" data-target="#myModal">{% trans 'Create Section' %}</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title"
                                                        id="myModalLabel">{% trans 'Create section' %}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <textarea cols="10" rows="5" id="voer_sub_sessions"></textarea>
                                                    <p>{% trans 'Each section for a line' %}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button"
                                                            class="btn btn-primary" id="btn_add_sections" data-dismiss="modal">{% trans 'Create section' %}</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!-- /.modal -->
                                </div>
                                <div class="hfright right">
                                    <input class="form-control right typetext" id="search-module"
                                           placeholder="Enter id of module or keyword to search" type="text">
                                </div>
                            </div>
                            <div class="form-group btn-common">
                                <button class="btn hfbtn-common hfbtn-public right hfbtn-active" name="action" value="publish">{% trans 'Publish' %}</button>
                                <button class="btn hfbtn-common hfbtn-next right hfbtn-active" name="action" value="save">{% trans 'Save' %}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
