{% extends "base/base-content.html" %}

{% load i18n %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.leanModal.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/voer-collection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hogan.js"></script>
    <script>
    $(document).ready(function(){
        $('#search-module').typeahead({
            name: 'modules',
            valueKey: 'title',
            remote: "{% url 'ajax_search_module' %}?keyword=%QUERY",
            template: [
                '<p class="item-fullname">{% verbatim %}{{title}}{% endverbatim %}</p>',
                '<p class="item-email">{% verbatim %}{{fullname}}{% endverbatim %}</p>',
            ].join(''),
            engine: Hogan,
            limit: 10
        });

        $('#search-module').on('typeahead:selected', function (object, datum) {
            $('#search-author').val('');

            var parentNode = -1;
            if ($("#collection-outline").jstree("get_selected")){
                if ($("#collection-outline").jstree("get_selected").length > 1){
                    parentNode = $('ul>li#root-outline');
                }else{
                    var selected = $("#collection-outline").jstree("get_selected");
                    if (selected.attr("rel") == "bundle" || selected.attr("rel") == "root"){
                        parentNode = null;
                    }else{
                        parentNode = $('ul>li#root-outline');
                    }
                }
            }
            title = datum.title;
            id = datum.material_id + "|" + datum.version;

            $("#collection-outline").jstree("create", parentNode, "last", { "data": title, "attr" : { "id": id, "rel" : "module" } });
            $("#collection-outline").find('input.jstree-rename-input').blur();

        });
    });
    </script>
{% endblock %}

{% block titleSite %}{% trans 'Create collection' %}{% endblock %}

{% block content %}

    <!-- filter top -->
    <div class="hfcreate">
        <div class="breakcump left">
            <span>{% trans 'Create Content' %}</span>
            <span class="icon"></span>
            <span class="current">{% trans 'Create a new collection' %}</span>
        </div>
        <div class="hfstep">
            <ul>
                <li class="active"><a id="hfstep-1">
                    <div class="step">1</div>
                    {% trans 'License' %}</a></li>
                <li class="active"><a id="hfstep-2">
                    <div class="step">2</div>
                    {% trans 'Metadata' %}</a></li>
                <li><a id="hfstep-3">
                    <div class="step">3</div>
                    {% trans 'Content' %}</a></li>
            </ul>
        </div>
    </div>
    {% include "frontend/block/left_block_user.html" %}
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="step" value="3"/>
        <input type="hidden" name="mid" value="{{ material.id }}"/>
        <input type="hidden" id="voer-outine-text" name="body" {{ material.text }} />

        <div class="col-lg-1 right-row">
            <div class="hfcreate-1">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="#metadata" data-toggle="tab">{% trans 'Metadata' %}</a></li>
                    <li class="active"><a href="#content" data-toggle="tab">{% trans 'Content' %}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="metadata">
                        <div class="content">
                            <div class="form-group">
                                <label for="InputEmail1">{% trans 'Title' %}</label>
                                <input class="form-control typetext" id="InputText" placeholder="Enter Title"
                                       type="text" name="title" value="{{ material.title }}">
                            </div>
                            <div class="form-group">
                                <label for="InputDescription">{% trans 'Description' %}</label>
                                <textarea rows="4" class="form-control"
                                          name="description">{{ material.description }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="InputAuthor">{% trans 'Author' %}</label>
                                <input class="form-control typetext" id="InputAuthor" placeholder="Enter Author"
                                       type="text">
                                <a class="AddNew" href="#addnewauthor">{% trans 'Add new Author' %}</a>
                            </div>
                            <!--
                            <div class="form-group listAuthor">
                                <table class="listAuthor">
                                    <thead>
                                    <tr>
                                        <th>{% trans 'Name' %}</th>
                                        <th>{% trans 'Author' %}</th>
                                        <th>{% trans 'Editor' %}</th>
                                        <th>{% trans 'Licensor' %}</th>
                                        <th>{% trans 'Maintainer' %}</th>
                                        <th>{% trans 'Translator' %}</th>
                                        <th>{% trans 'Contributor' %}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="author-block">
                                            <a class="hfbtn-author" href="author_profile.php">{% trans 'HiFlyer JSC' %}
                                                <div class="author-information">
                                                    <div class="avatar left">
                                                        <img src="images/avatar.jpg" height="70px" width="70px">
                                                    </div>
                                                    <div class="right">
                                                        <div class="user-name">{% trans 'Nguyen Lan Dung' %}</div>
                                                        <div class="user-address">{% trans 'R 405, 87 Lang Ha, Dong Da, Ha Noi, Viet Nam' %}</div>
                                                        <div class="user-website">voer.edu.vn</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <label class="checkbox checkbox-user-tool">
                                                <input data-toggle="checkbox" type="checkbox">
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox checkbox-user-tool">
                                                <input data-toggle="checkbox" type="checkbox">
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox checkbox-user-tool">
                                                <input data-toggle="checkbox" type="checkbox">
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox checkbox-user-tool">
                                                <input data-toggle="checkbox" type="checkbox">
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox checkbox-user-tool">
                                                <input data-toggle="checkbox" type="checkbox">
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox checkbox-user-tool">
                                                <input data-toggle="checkbox" type="checkbox">
                                            </label>
                                        </td>
                                        <td>
                                            <div class="hfbtn-delete"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            -->
                            <div class="form-group">
                                <label for="InputCategories">{% trans 'Categories' %}</label>
                                <ul class="AddCategories">
                                    {% for category in categories %}
                                        <li>
                                            <label class="checkbox checkbox-user-tool">
                                                <span class="icons">
                                                    <span class="first-icon fui-checkbox-unchecked"></span>
                                                    <span class="second-icon fui-checkbox-checked"></span>
                                                </span>
                                                <input data-toggle="checkbox" type="checkbox" name="categories"
                                                       value="{{ category.id }}"
                                                       {% if category.id == material.categories|add:0 %}checked{% endif %}>
                                                {{ category.name }}
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="InputFile">{% trans 'Image' %}</label>
                                <input onmouseout="document.getElementById('uploadfilename_0').value = this.value;"
                                       onchange="document.getElementById('uploadfilename_0').value = this.value;"
                                       class="uploadfile" id="uploadfile_0" name="uploadfile_0" type="file">

                                <div class="fakefile">
                                    <input onclick="document.getElementById('uploadfile_0').click();"
                                           id="uploadfilename_0" value="" class="form-control typefile" type="text">
                                </div>
                                <p class="help-block">{% trans 'Files must be less than 2 MB. <br>Allowed file types: png gif jpg jpeg.' %}</p>
                            </div>
                            <div class="form-group">
                                <label for="InputLanguage">{% trans 'Language' %}</label>

                                <div class="hfselectList">
                                    <select name="language" class="select-block">
                                        <option>{% trans 'Choose language' %}</option>
                                        <option value="vi"
                                                {% if material.language == "vi" %}selected="selected"{% endif %}>{% trans 'Vietnamese' %}</option>
                                        <option value="en"
                                                {% if material.language == "en" %}selected="selected"{% endif %}>{% trans 'English' %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputKeywords">{% trans 'Keywords' %}</label>
                                <input class="form-control typetext" id="InputKeywords" placeholder="Enter Keywords"
                                       type="text" name="keywords" value="{{ material.keywords }}">
                            </div>
                            <div class="form-group">
                                <label for="InputTags">{% trans 'Tags' %}</label>
                                <input class="form-control typetext" id="InputTags" placeholder="Enter Tags"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="content">
                        <div class="content">
                            <div class="form-group">
                                <input type="hidden" name="body" id="voer-outline-text" value='[{"attr":{"id":"root-outline","rel":"root"},"data":"Outline","state":"open"}]' />
                                <div id="collection-outline" class="demo" style="height:300px;"></div>
                            </div>
                            <div class="form-group btn-common">
                                <div class="hfleft left">
                                    <a class="hfbtn-common hfbtn-next hfbtn-active" href="create_collection_save.php"
                                       data-toggle="modal" data-target="#myModal">{% trans 'Create Section' %}</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title"
                                                        id="myModalLabel">{% trans 'Create section' %}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <textarea cols="10" rows="5" id="voer_sub_sessions"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button"
                                                            class="btn btn-primary" id="btn_add_sections" data-dismiss="modal">{% trans 'Create section' %}</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!-- /.modal -->
                                </div>
                                <div class="hfright right">
                                    <a class="hfbtn-common hfbtn-next right hfbtn-active"
                                       href="create_collection_save.php">{% trans 'Add Module' %}</a>
                                    <input class="form-control right typetext" id="search-module"
                                           placeholder="Search module to add" type="text">
                                </div>
                            </div>
                            <div class="form-group btn-common">
                                <button class="btn hfbtn-common hfbtn-public right hfbtn-active" name="action" value="publish">{% trans 'Public' %}</button>
                                <button class="btn hfbtn-common hfbtn-next right hfbtn-active" name="action" value="save">{% trans 'Save' %}</button>
                                <button class="btn hfbtn-common hfbtn-back right hfbtn-active" name="action" value="back">{% trans 'Back' %}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
