{% extends "base/base-content.html" %}

{% block titleSite %}About Us{% endblock %}

{% block content %}        
<!-- left content -->
<div class="col-lg-2 col-lg-2-custom">
    <div class="hffilter-right">
        <div class="bigbox-common">                         
            <div class="content">
                <script>
                    $(document).ready(function(){
                        $('a[id|=about]').click(function(){
                            var $idabout = ($(this).attr('id'));
                            $('a[id|=about]').removeClass('active');
                            $(this).addClass('active');                                     
                        });
                    });
                </script>
                <ul class="hfmenu-common">
                    <li><a class= "active" id="about-1" href="#aboutus">Thư viện Học liệu mở<i class="chev-right"></i></a></li>
                    <li><a id="about-2" href="#cc-by-license">Giấy phép sử dụng<i class="chev-right"></i></a></li>
                    <li><a id="about-3" href="#policy">Quy định sử dụng<i class="chev-right"></i></a></li>
                    <li><a id="about-4" href="#partners">Đối tác<i class="chev-right"></i></a></li>
                </ul>
                <ul class="hfmenu-common second">                               
                    <li><a id="about-10" href="#guide">Hướng dẫn sử dụng<i class="chev-right"></i></a></li>                            
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-1 col-lg-1-custom right-row">
    <div class="hfcontent">
        <h1 id="about-us">Thư viện Học liệu mở</h1>
        <p>Tài Nguyên Giáo Dục Mở Việt Nam và Học Liệu Mở là những cải tiến trong việc phân phối chương trình và tư liệu giảng dạy đã được chấp nhận bởi một số trường đại học Hoa Kỳ và châu Âu.</p>
        <p>Quỹ Việt Nam hỗ trợ việc xây dựng website Tài Nguyên Giáo Dục Mở Việt Nam (Vietnam Open Educational Resources - VOER) để đóng vai trò là nguồn dữ liệu trung tâm cho các giáo sư, các cán bộ giảng dạy, sinh viên và những cá nhân tự học đại học ở Việt Nam. Họ sẽ có cơ hội tiếp cận hàng nghìn tài liệu giảng dạy và học tập ở bất cứ nơi đâu và hoàn toàn miễn phí. Không chỉ được tiếp cận với các tài liệu trên trang Tài Nguyên Giáo Dục Mở Việt Nam mà họ còn được khám phá các nguồn tài liệu giảng dạy nước ngoài và là một phần trong hệ thống Tài Nguyên Giáo Dục Mở như đóng góp tài liệu học tập và giảng dạy, thiết lập các diễn đàn thảo luận, đóng góp nhận xét và chú giải, sử dụng các tài liệu sẵn có để dựng thành sách mới.</p>
        <h1 id="cc-by-license">Giấy phép sử dụng</h1>
        <p>Tất cả các tài liệu của Thư viện Học liệu mở Việt Nam đều tuân thủ giấy phép Creative Commons Attribution License phiên bản Creative Common CC by 3.0 có tại <a href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</a>. Căn cứ các điểu khoản của giấy phép, các tài liệu của Thư viện Học liệu mở Việt Nam có thể được sao chép, được phân phối, được trưng bày và được trình diễn và có thể tái sử dụng để tạo ra các nội dung phái sinh dựa theo nội dung gốc với điều kiện là họ phải ghi công tác giả của nội dung gốc.</p>
        <h1 id="policy">Quy định sử dụng</h1>
        <p>Quy định sử dụng Thư viện Học liệu mở Việt Nam sẽ được cập nhật sớm.</p>
        <h1 id="partners">Đối tác</h1>
        <p>Thư viện Học liệu mở Việt Nam được bảo trợ bởi Quỹ Việt Nam (The Vietnam Foundation), do đó, trong khuôn khổ hợp tác với Viện hàn lâm quốc gia Hoa Kỳ, sẽ đưa tri thức chuyên môn của cộng đồng khoa học Hoa Kỳ vào hỗ trợ giáo dục Việt Nam. Quỹ Việt Nam sẽ giúp tăng cường mối quan hệ đối tác trong giáo dục giữa Việt Nam và Hoa Kỳ.</p>
        <p>Các trường đại học trong nước đang rất cần thiết lập hệ thống mạng lưới hợp tác với các cơ sở giáo dục nước ngoài. Các mối quan hệ này sẽ thúc đẩy việc chuyển giao tri thức thông qua các chương trình trao đổi chuyên môn như chương trình học, cán bộ giảng dạy và sinh viên. Các trường đại học của Việt Nam và Hoa Kỳ đã và đang tiến hành hợp tác có hiệu quả. Rất nhiều trong số đó là các mối quan hệ đặc biệt và một số khác được sự giúp đỡ từ Bộ Giáo dục và Đào tạo thông qua dự án “Chương trình tiên tiến”. Để thúc đẩy hiệu quả của quan hệ hợp tác, cần thiết phải có sự điều phối trung tâm từ các trường đại học của Hoa Kỳ. Hơn nữa, cần nỗ lực hơn để đẩy mạnh cả về số lượng cũng như qui mô của những quan hệ hợp tác đó.</p>
        <p>Quỹ Việt Nam đã đề xuất việc quản lý một diễn đàn các trường đại học Việt Nam và Hoa Kỳ, nơi sẽ thu hút các trường đại học Hoa Kỳ thực sự quan tâm đến việc hợp tác với Việt Nam. Diễn đàn này sẽ là nơi trao đổi thực tiễn nhất các vấn đề liên quan đến giúp đỡ phát triển nền giáo dục đại học của Việt Nam. Nó sẽ thúc đẩy hơn nguồn lực tại mỗi trường để tối đa hóa hiệu quả.</p>
        <p>Quỹ Việt Nam cũng sẽ thu hút các mối quan hệ hợp tác mới bằng việc tạo cầu nối giữa các khoa của đại học Hoa Kỳ với các khoa của đại học Việt Nam. Việc cấp tài trợ một cách có cạnh tranh sẽ dành cho các chuơng trình trao đổi cán bộ giảng dạy ban đầu và các kế hoạch hoạt động khác.</p>
        <h1 id="guide">Hướng dẫn sử dụng</h1>
        <p>Tài liệu hướng dẫn sử dụng sẽ được cập nhật sớm.</p>

    </div>
    
</div>           
        
{% endblock %}
