{% extends "base/base-content.html" %}

{% load i18n %}

{% block titleSite %}{% trans "Featured authors" %}{% endblock %}

{% block content %}

{% include 'frontend/block/left_block_user.html' %}

<div class="col-lg-1 col-lg-1-custom right-row">
    <div class="content">
        {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <h1>{% trans 'Featured authors' %}</h1>
        <form method="POST" active="{% url 'featured-authors' %}" id="form-admin-featured-authors" >
            {% csrf_token %}
            <div class="form-group clearfix">
                <input type="text" name="add_author_id" class="form-control textbox" placeholder="{% trans 'Enter ID author' %}" />
                 <div class="btn-common">
                    <input class="hfbtn-common hfbtn-active btn-add-author" name="add_author" type="submit" value="{% trans 'Add' %}">
                </div>
                <p class="help-block">Cần ít nhất 5 tác giả tiêu biểu để hiện ra trang chủ</p>
            </div>

            <table class="table table-bordered table-condensed table-striped table-hover">
                <tr class="success">
                    <th width="100" class="center">Ảnh đại diện</th>
                    <th>Tên tác giả</th>
                    <th width="120" class="center">{% trans 'username' %}</th>
                    <th width="50" class="center">ID</th>
                    <th width="50" class="center">{% trans 'Delete' %}</th>
                </tr>
                {% for author in authors %}
                <tr>
                    <td><img src="{% url 'get_avatar' author.id %}" alt="{{ author.name }}" title="{{ author.name }}" width="50" height="50"/></td>
                    <td>{{ author.name }}</td>
                    <td>{{ author.user_id }}</td>
                    <td>{{ author.id }}</td>
                    <td>
                         <input class="hfbtn-common hficon delete btn-delete-author center" name="delete_author" type="submit" data="{{ author.id }}" value="">
                    </td>
                </tr>
                {% endfor %}
            </table>
        <input type="hidden" value="" id="delete-author-id" name="delete_author_id"/>
        </form>
    </div>
</div>
   <script>
    $(document).ready(function(){
        $(document).on('click', '.btn-delete-author', function(){
            var $onclick = confirm('Are you sure?');
            if ($onclick == true){
                $('#delete-author-id').val( ($(this).attr('data')) );
            }
        })
    });
   </script>
{% endblock %}
