{% extends "base/base-content.html" %}
{% load i18n %}
{% block titleSite %}Browse{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-select.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/application.js"></script>
{% endblock %}

{% block content %}

<!-- filter top -->
<div id="fitertop-browserall" class="hffitertop">
    <!--
    <div class="dropdown left">
        <a class="filter-title arrow-down" data-toggle="dropdown" href="#">Browse All</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li class="dropdown-label">Popular</li>
            <li><a>All Creative Fields</a></li>
            <li><a>Architecture</a></li>
            <li><a>Art Direction</a></li>
            <li><a>Branding</a></li>
            <li><a>Fashion</a></li>
            <li><a>Graphic Design</a></li>
            <li><a>Illustration</a></li>
            <li><a>Industrial Design</a></li>
            <li><a>Interaction Design</a></li>
            <li><a>Motion Graphics</a></li>
            <li><a>Photography</a></li>
            <li><a>UI/UX</a></li>
            <li><a>Web Design</a></li>
        </ul>
    </div>
    <div class="dropdown left">
        <a class="filter-title arrow-down" data-toggle="dropdown" href="#">Featured</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a>Featured</a></li>
            <li><a>Most Liked</a></li>
            <li><a>Most Viewed</a></li>
            <li><a>Most Discussed</a></li>
            <li><a>Most Recent  </a></li>
        </ul>
    </div>
    -->
    <div class="dropdown left">
        <a class="filter-title arrow-down" data-toggle="dropdown" href="#">Sort by</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a>Title</a></li>
            <li><a>Relevance</a></li>
            <li><a>Rating</a></li>
            <li><a>Date</a></li>
        </ul>
    </div>
    <div class="fiterbutton right">
        <a class="gridview left">Gridview</a>
        <a class="listview right">Listview</a>
    </div>
</div>          <!-- left content -->
            <div class="col-lg-1 left-row">
                <script>
                    $(document).ready(function(){
                        $('.hfbtn-save').click(function(){
                            var $iditem = $(this).attr('metadata');
                            $('div[metadata='+$iditem+']').toggleClass('hfvisible');
                        });
                        $('.collection-save-hover').hover(
                            function() {
                            }, function() {
                              var $iditem = $(this).attr('metadata').replace('col-hover-', '');
                              var $selectItem = $('div[metadata=iditem-'+$iditem+']');

                              if ($selectItem.hasClass('hfvisible')) {
                                $selectItem.toggleClass('hfvisible');
                              }
                            }
                        );
                        $('.hfbtn-saveto-type').click(function(){
                            var $iditemCreate = $(this).attr('metadata');

                            $('div[metadata='+$iditemCreate+']').addClass('hfvisible');
                            //$('div[metadata='+$iditemCreate+']').hasClass('collection-saveto-type').toggleClass('hfvisible');
                        });
                        $('.gridview').click(function(){
                            $('.hfitems').toggleClass('gridview');
                            $('.gridview').toggleClass('active');
                            $('.listview').toggleClass('active');
                        });
                        $('.listview').click(function(){
                            $('.hfitems').toggleClass('gridview');
                            $('.gridview').toggleClass('active');
                            $('.listview').toggleClass('active');
                        });
                    });
                </script>
<div id="materials" class="hfitems active">
{% for material in materials %}
{% if material.material_type == 1 %}
    {% url 'module_detail' mid=material.material_id as material_url %}
{% else %}
    {% url 'collection_detail' cid=material.material_id as material_url %}
{% endif %}
<div class="hfitem">
    <div class="collection-save-hover" metadata="col-hover-{{ material.material_id }}">
        {% if user.is_authenticated %}
        <div class="collection-save">
            <div><a class="hfbtn-save" metadata="iditem-{{ material.material_id }}">{% trans 'Add to my favourite' %}</a></div>
        </div>
        <div class="collection-saveto" metadata="iditem-{{ material.material_id }}">
            <div class="collection-saveto-title">{% trans 'My Favorites' %}</div>
            <div class="collection-saveto-content">

            </div>
            <div class="collection-saveto-create" metadata="iditem-1-create">
                <a class="hfbtn-saveto-type" metadata="iditem-1-create">{% trans 'Create new' %}</a>
            </div>
            <div class="collection-saveto-type" metadata="iditem-1-create">
                <input onclick="" class="saveto-type" title="Create new" value="Create new" alt="Create new" type="text">
            </div>
        </div>
        {% endif %}
    </div>
    <div class="collection-mainpage-cover">
		{% if material.categories %}
	   <img src="{{STATIC_URL}}images/cat{{material.categories}}.jpg"/>     
	   {% else %}
	   <img src="{{STATIC_URL}}images/cat_other.jpg"/>  
	   {% endif %}
    </div>
    <div class="collection-mainpage-details">
        <div class="title-collection">
            <a title="{{ material.title }}" alt="{{ material.title }}" href="{{ material_url }}">{{ material.title }}</a>
        </div>
        <div class="short-collection">{{ material.description }}</div>
        <div class="author-collection"><a href="{% url 'view_profile' 345 %}">Pham Duc Manh</a></div>
        <div class="category-collection"><a href="{% url 'browse' %}?categories={{ material.categories }}">
			{% if material.categories == '1' %}
				{% trans 'Business' %}
			{% elif  material.categories == '2' %}
				{% trans 'Social Sciences' %}
			{% elif  material.categories == '3' %}
				{% trans 'Science and Technology' %}
			{% elif  material.categories == '4' %}
				{% trans 'Humanities' %}
			{% elif  material.categories == '5' %}
				{% trans 'Arts' %}
			{% elif  material.categories == '6' %}
				{% trans 'Mathematics and Statistics' %}
			{% else %}
				{% trans 'Others' %}
			{% endif %}
		</a></div>

    </div>
    <div class="collection-mainpage-other">
        {% if material.material_type == 1 %}
        <div class="voer-mol-ico left">&nbsp;</div>
        {% elif material.material_type == 2 %}
        <div class="voer-col-ico left">&nbsp;</div>
        {% endif %}

        <div class="hflike left">{% if material.favorite_count.count %} {{ material.favorite_count.count }}{% else %}0{% endif %}</div>
        <div class="hfview left">{% if material.view_count.view > 0 %}{{ material.view_count.view }}{% else %}0{% endif %}</div>

        <div class="hfother right tooltipi-container">
            <img src="{{ STATIC_URL }}images/icon/information.png">
            <div class="hftooltipi">
                Uploaded On: <strong>{{ material.modified }}</strong>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% include "base/pager.html" %}
</div>
</div>
<div class="col-lg-2 right-row">
    <div class="hffilter-right">
    <div class="bigbox-common">
        <div class="title">Filter By</div>
        <div class="content">
            <script>
                $(document).ready(function(){
                    $('label[id|=types]').click(function(){
                        var $idtype = $(this).attr('id');
                        if($idtype == 'types-all'){
                            $('label[id|=types]').removeClass('checked');
                        }else{
                            $('label[id=types-all]').removeClass('checked');
                        }

                        ajax_browse("{% url 'ajax_browse' %}", 1, "vi", 2);
                    });

                    $('label[id|=langs]').click(function(){
                        var $idtype = $(this).attr('id');
                        if($idtype == 'langs-all'){
                            $('label[id|=langs]').removeClass('checked');
                        }else{
                            $('label[id=langs-all]').removeClass('checked');
                        }
                        ajax_browse("{% url 'ajax_browse' %}", 2, "vi", 2);
                    });
                    $('label[id|=category]').click(function(){
                        var $idtype = $(this).attr('id');
                        if($idtype == 'category-all'){
                            $('label[id|=category]').removeClass('checked');
                        }else{
                            $('label[id=category-all]').removeClass('checked');
                        }
                        ajax_browse("{% url 'ajax_browse' %}", 2, "vi", 4);
                    });
                });
            </script>
            <!-- type -------------------------------------------------------------------->
            <div class="smallbox-common">
                <div class="checkbox-item">
                    <label id="types-all" class="checkbox checkbox-user-tool checked">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input type="checkbox" data-toggle="checkbox" value="0">
                        All types
                        <div class="number-common right">200</div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <label id="types-modules" class="checkbox checkbox-user-tool">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input type="checkbox" data-toggle="checkbox" value="1">
                        Modules
                        <div class="number-common right">200</div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <label id="types-collections" class="checkbox checkbox-user-tool">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input type="checkbox" data-toggle="checkbox" value="2">
                        Collections
                        <div class="number-common right">200</div>
                    </label>
                </div>
            </div>
            <!-- language -------------------------------------------------------------------->
            <div class="smallbox-common">
                <div class="checkbox-item">
                    <label id="langs-all" class="checkbox checkbox-user-tool checked">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" type="checkbox">
                        All Languages
                        <div class="number-common right">200</div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <label id="langs-en" class="checkbox checkbox-user-tool">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input data-toggle="checkbox" type="checkbox" value="en">
                        English
                        <div class="number-common right">200</div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <label id="langs-vn" class="checkbox checkbox-user-tool">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input data-toggle="checkbox" type="checkbox" value="vi">
                        Vietnam
                        <div class="number-common right">200</div>
                    </label>
                </div>
            </div>
            <!-- Categories -->
            <div class="smallbox-common">
                <div class="checkbox-item">
                    <label id="category-all" class="checkbox checkbox-user-tool checked">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input data-toggle="checkbox" type="checkbox">
                        {% trans 'All Categories' %}
                        <div class="number-common right">200</div>
                    </label>
                </div>
                {% for category in categories %}
                <div class="checkbox-item">
                    <label id="category-{{category.id}}" class="checkbox checkbox-user-tool">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        <input data-toggle="checkbox" type="checkbox" values="{{ category.id }}">
                        {{ category.name }}
                        <div class="number-common right">200</div>
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
