{% extends "base/base-content.html" %}

{% load i18n %}
{% load thumbnail %}

{% block js %}
    <script>
    $( document ).ready(function() {
        var currentURL = document.URL;
        $('ul#outline-collection li > ul').hide();
        $('ul#outline-collection li:has(ul)').addClass("folder");
        $('ul#outline-collection li > a').each(function(index, e){
            var href = $(this).attr('href');
            if (currentURL.indexOf(href) != -1){
                $(this).addClass("active");
                var el = $(this).parent();
                while(el.attr('id') != 'outline-collection' ){
                    if (el.is('ul')){
                        el.show();
                        el.parent().addClass('open');
                    }
                    el = el.parent();
                }
            }
        });
        $('ul#outline-collection li.folder > a').click(function() {
            $(this).parent().find('ul').slideToggle("quick", function(){
                $(this).parent().toggleClass('open', $(this).is(':visible'));
            });
            return false;
        });

    });
    </script>
{% endblock %}

{% block titleSite %}{{ material.title }}{% endblock %}

{% block content %}
<!-- LEFT ROW -->
<div class="col-lg-1 left-row">
    <!-- TITLE MODULE -->
    <div class="module-view-title left padding-content-15">
        <span class="module-view-name left clear">{{ collection.title }}</span>
        <span class="module-view-name left clear">{{ material.title }}</span>
        <a class="module-view-category left clear">{{ category.name }}</a>
    </div>
    <!-- END TITLE MODULE -->
    <!-- CONTENT MODULE -->
    <div class="module-view-content left padding-content-15">{{ material.text|safe }}</div>
    <!-- END CONTENT MODULE -->

    {% if file_data %}
    <!-- ATTACHMENT MODULE -->
    <div class="attach-module-content left padding-content-15">
        <span class="module-view-name left clear">{% trans 'File Attachments' %}:</span>
        <div class="attach-content-comment">
            <ol>
                {% for attachment in file_data %}
                <li>
                    <a href="{% url 'get_attachment' attachment.attachment_id %}">{{ attachment.title }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <!-- END ATTACHMENT MODULE -->
    {% endif %}

    <!-- SOCIAL MODULE -->
    <div class="bottom-module-content left padding-content-15">
        <ul class="list-social-module left">
            <li>
                <a class="link-fb"></a>
            </li>
            <li>
                <a class="link-tw"></a>
            </li>
            <li>
                <a class="link-gg"></a>
            </li>
            <li>
                <a class="link-in"></a>
            </li>
        </ul>
        <ul class="list-status-module-content right">
            <li>
                <a class="checkout-icon-view">{% if collection.view_count.view > 0 %}{{ collection.view_count.view }}{% else %}0{% endif %}</a>
            </li>
            <li>
                <a class="checkout-icon-favourite">{% if collection.favorite_count.favorite > 0 %}{{ collection.favorite_count.favorite }}{% else %}0{% endif %}</a>
            </li>
            <li>
                 <a class="checkout-icon-comment">340</a>
            </li>
            <li>
                <a class="checkout-icon-like">340</a>
            </li>
        </ul>
    </div>
    <!-- END SOCIAL MODULE -->
    <!-- COMMENT MODULE -->
    <div class="comment-module-content left padding-content-15">
        <div class="module-content-comment">
            <ul>
                <li>
                  <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="742" data-numposts="10" data-colorscheme="light"></div>
                </li>
            </ul>
            <!-- <a class="btn-module-content-comment right">{% trans 'Comment' %}</a>  -->
        </div>
    </div>
    <!-- END COMMENT MODULE -->
</div>
<!-- END LEFT ROW -->
<!-- RIGHT ROW -->
<div class="col-lg-2 right-row">
    {% if author %}
    <!-- AUTHOR NAME -->
    {% for author_info in author %}
    <div class="module-view-author arrow-author-collection padding-content-10 left">
        <a class="module-view-author-avatar left" href="{% url 'view_profile' author_info.id %}">
            {% with y=author_info.id|stringformat:"s" %}
            {% thumbnail "http://"|add:request.META.HTTP_HOST|add:"/user/avatar/"|add:y|add:"?l="|add:author_info.avatar "60x60" crop="center 20%" as im %}
                <img src="{{ im.url }}" width="60" height="60">
            {% empty %}
                <img src="{{ STATIC_URL }}images/author1_detail.jpg" width="60" height="60">
            {% endthumbnail %}
            {% endwith %}
        </a>
        <ul class="module-view-author-name left padding-content-10">
            <li>
                <a href="{% url 'view_profile' author_info.id %}">{{ author_info.fullname }}</a>
            </li>
            <li>
                <span class="text-italic">{% trans 'View my profile' %}</span>
            </li>
        </ul>
    </div>
    {% endfor %}
    <!-- END AUTHOR NAME -->
    {% endif %}

    {% if author|length == 1 %}
    <!-- AUTHOR STATUS -->
    {% for author_info in author %}
    <div class="module-view-author-status left">
        <span class="module-view-author-block left padding-content-5">
            <a class="clear">{{ author_info.author.module }}</a>
            <label class="clear">Modules</label>
        </span>
        <span class="module-view-author-block left padding-content-5">
            <a class="clear">{{ author_info.author.collection }}</a>
            <label class="clear">Collections</label>
        </span>
    </div>
    {% endfor %}
    <!-- END AUTHOR STATUS -->
    {% endif %}

    <script>
                        $(document).ready(function(){               
                            $('.collspan').click(function(){
                                var $iditemshow = $(this).attr('metadata');
                                $(this).toggleClass('exspan');
                                $('ul[metadata=child-'+$iditemshow+']').toggleClass('collspaned');                      
                            });
                            var wh = $(window).height();
                            $(window).scroll(function(){
                                var wh = $(window).height();
                                var wp = $(window).scrollTop();
                                var dh = $(document).height();
                                var visible = Math.round((wp/dh)*100);
                                if(wp > 150){
                                    $(".hflistmodule").addClass('extends');
                                    $("#hfgroupright").addClass('extends');
                                }else{
                                    $(".hflistmodule").removeClass('extends');
                                    $("#hfgroupright").removeClass('extends');
                                }
                                
                            });                     
                        });
                    </script>
<div class="hflistmodule">
    <div class="list-module-name padding-content-10 scrollpanel no4 left sp-host">
        <div class="hffolders">
            <ul id="level-0">
                <li class="root">
                    <span><a href="#">{{ collection.title }}</a></span>
                </li>
                {{ outline | safe}}
            </ul>
                   
        </div>
    </div>
    <!-- REUSE -->
    {% if user.is_authenticated %}
    <div class="module-block">
        <div class="module-block-header">
            <div class="icon-module icon-checkout"></div>
            <div class="tilte-module">
                <a>{% trans 'Reuse' %}</a>
            </div>
        </div>
    </div>
    <{% endif %}
    <!-- END REUSE -->
    <!-- DOWNLOAD -->
    <div class="module-block">
        <div class="module-block-header">
            <div class="icon-module icon-download"></div>
            <div class="tilte-module">
                {% if collection.version %}
                <a href="{% url 'get_pdf' collection.material_id collection.version %}">{% trans 'Download' %}</a>
                {% else %}
                <a href="#">{% trans 'Download' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- END DOWNLOAD -->
</div>
<div id="hfgroupright">
    {% if tag_data %}
    <!-- TAG -->
    <div class="module-block module-simple">
        <div class="module-block-header">
            <div class="icon-module"></div>
            <div class="tilte-module">Tag</div>
        </div>
        <div class="module-block-content">
            <a class="link-tag">Zen</a>
            <a class="link-tag">Book</a>
            <a class="link-tag">Khoa học</a>
            <a class="link-tag">Bản đồ</a>
            <a class="link-tag">Nghiên cứu</a>
            <a class="link-tag">Phát triển</a>
        </div>
    </div>
    <!-- END TAG -->
    {% endif %}

    <!-- OTHER FROM AUTHOR -->
    <div class="module-block module-simple">
        <div class="module-block-header">
            <div class="icon-module"></div>
            <div class="tilte-module">{% trans 'Others from Author' %}</div>
        </div>
        <div class="module-block-content">
            <div id="module-others" class="ajax-ev" data-ajax-trigger="load" data-ajax-url="/ajax/get-others?authors={{ collection.author }}">&nbsp;</div>
        </div>
    </div>
    <!-- END OTHER FROM AUTHOR -->

    <!-- OTHER FROM AUTHOR -->
    <div class="module-block module-simple">
        <div class="module-block-header">
            <div class="icon-module"></div>
           <div class="tilte-module">{% trans 'Similar items' %}</div>
        </div>
        <div class="module-block-content">
            <div id="module-similars" class="ajax-ev" data-ajax-trigger="load" data-ajax-url="/ajax/get-similars?mid={{ collection.material_id }}&version={{ collection.version }}">&nbsp;</div>
        </div>
    </div>
    <!-- END OTHER FROM AUTHOR -->
</div>
</div>
<!-- END RIGHT ROW -->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId={{ VOER_FACEBOOK_APP_ID }}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
