{% extends "base/base-content.html" %}

{% load i18n %}
{% load thumbnail %}

{% block titleSite %}{{ collection.title }}: {{ material.title }} - VOER{% endblock %}

{% block js %}
    <script>
    $( document ).ready(function() {
        var currentURL = document.URL;
        $('ul#outline-collection li > ul').hide();
        $('ul#outline-collection li:has(ul)').addClass("folder");
        $('ul#outline-collection li > a').each(function(index, e){
            var href = $(this).attr('href');
            if (currentURL.indexOf(href) != -1){
                $(this).addClass("active");
                var el = $(this).parent();
                while(el.attr('id') != 'outline-collection' ){
                    if (el.is('ul')){
                        el.show();
                        el.parent().addClass('open');
                    }
                    el = el.parent();
                }
            }
        });
        $('ul#outline-collection li.folder > a').click(function() {
            $(this).parent().find('ul').slideToggle("quick", function(){
                $(this).parent().toggleClass('open', $(this).is(':visible'));
            });
            return false;
        });

        $('#pdf-download').click(function(){
           $('#more-download').toggle('slow');
        });

    });
    </script>
{% endblock %}

{% block content %}
<!-- LEFT ROW -->
<div class="col-lg-1 col-lg-1-custom left-row">
    <!-- TITLE MODULE -->
    <div class="collection-view-title left padding-content-15">
        <div class="material-type">{% trans "Collection" %}</div>
        <h1 class="collection-view-name left clear">{{ collection.title }}</h1>
        <a class="module-view-category left clear" title="{% trans category.name %}">{% trans category.name %}</a>
        <h2 class="module-view-name sub-title left clear">{{ material.title }}</h2>

        {% if material.material_authors %}
        <div class="author-module-list clear">
            <span>{% trans 'Author' %}:</span>
            {% for material_author in material.material_authors %}
            <a href="{% url 'view_profile' material_author.id %}" class="material-author-item" title="{{ material_author.fullname }}">{{ material_author.fullname }}</a>
            {% endfor %}
        </div>
        {% endif %}

        {% if collection.id %}
        {% if unpublished %}
        <a href="{% url 'user_collection_edit' cid=collection.id %}" class="btn btn-primary" style="float: right;">{% trans 'Edit' %}</a>
        {% endif %}
        {% endif %}
    </div>

    <!-- END TITLE MODULE -->
    <!-- CONTENT MODULE -->
    <div class="module-view-content left padding-20">
        {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="padding-bottom-10">
            {% include 'frontend/partials/material_tools.html' with material=collection %}
        </div>

        {{ material.text|safe }}
    </div>
    <!-- END CONTENT MODULE -->

    <div class="left padding-content-15 with-100">
        {% include 'frontend/partials/material_tools.html' with material=collection %}
    </div>

    {% if file_data %}
    <!-- ATTACHMENT MODULE -->
    <div class="attach-module-content attach-list left padding-content-15">
        <h3>{% trans 'Attachments' %}</h3>
        <div class="attach-content-comment">
            <ul>
                {% for attachment in file_data %}
                <li>
                    <a href="{% url 'get_attachment' attachment.attachment_id %}">{{ attachment.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- END ATTACHMENT MODULE -->
    {% endif %}

    <!-- COMMENT MODULE -->
    <div class="comment-module-content left padding-content-15">
        <div class="module-content-comment">
            <ul>
                <li>
                  <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="742" data-numposts="10" data-colorscheme="light"></div>
                </li>
            </ul>
            <!-- <a class="btn-module-content-comment right">{% trans 'Comment' %}</a>  -->
        </div>
    </div>
    <!-- END COMMENT MODULE -->
</div>
<!-- END LEFT ROW -->
<!-- RIGHT ROW -->
<div id="material-right-side" class="collection-right-side col-lg-2 col-lg-2-custom right-row">
    {% include 'frontend/partials/material_actions.html' %}

    {% include 'frontend/partials/material_author.html' %}

    {% comment OLD-AUTHOR-SECTION %}
    {% if author %}
    <!-- AUTHOR NAME -->
    {% for author_info in author %}
    <div class="module-view-author arrow-author-collection padding-content-10 left">
        <a class="module-view-author-avatar left" href="{% url 'view_profile' author_info.id %}" title="{{ author_info.fullname }}">
            {% with y=author_info.id|stringformat:"s" %}
            {% thumbnail "http://"|add:request.META.HTTP_HOST|add:"/user/avatar/"|add:y|add:"?l="|add:author_info.avatar "60x60" crop="center 20%" as im %}
                <img src="{{ im.url }}" width="60" height="60" alt="{{ author_info.fullname }}" title="{{ author_info.fullname }}">
            {% empty %}
                <img src="{{ STATIC_URL }}images/author1_detail.jpg" width="60" height="60" alt="{{ author_info.fullname }}" title="{{ author_info.fullname }}">
            {% endthumbnail %}
            {% endwith %}
        </a>
        <ul class="module-view-author-name left padding-content-10">
            <li>
                <a href="{% url 'view_profile' author_info.id %}" title="{{ author_info.fullname }}">{{ author_info.fullname }}</a>
            </li>
            <li>
                <span class="text-italic">{% trans 'View my profile' %}</span>
            </li>
        </ul>
    </div>
    {% endfor %}
    <!-- END AUTHOR NAME -->
    {% endif %}

    {% if author|length == 1 %}
    <!-- AUTHOR STATUS -->
    {% for author_info in author %}
    <div class="module-view-author-status left">
        <span class="module-view-author-block left padding-content-5">
            <a class="clear" href="{% url 'view_profile' author_info.id %}?types=1">{{ author_info.author.module }}</a>
            <label class="clear">Modules</label>
        </span>
        <span class="module-view-author-block left padding-content-5">
            <a class="clear" href="{% url 'view_profile' author_info.id %}?types=2">{{ author_info.author.collection }}</a>
            <label class="clear">Collections</label>
        </span>
    </div>
    {% endfor %}
    <!-- END AUTHOR STATUS -->
    {% endif %}
    {% endcomment %}

    <script>
        $(document).ready(function(){
            $('.collspan').click(function(){
                var $iditemshow = $(this).attr('metadata');
                $(this).toggleClass('exspan');
                $('ul[metadata=child-'+$iditemshow+']').toggleClass('collspaned');
            });
            /*
            var wh = $(window).height();
            $(window).scroll(function(){
                var wh = $(window).height();
                var wp = $(window).scrollTop();
                var dh = $(document).height();
                var visible = Math.round((wp/dh)*100);
                if(wp > 150){
                    $(".hflistmodule").addClass('extends');
                    $("#hfgroupright").addClass('extends');
                }else{
                    $(".hflistmodule").removeClass('extends');
                    $("#hfgroupright").removeClass('extends');
                }

            });
            */
        });
    </script>

    <div class="hflistmodule">
        <div class="list-module-name padding-content-10 scrollpanel no4 left sp-host material-outline-scrool">
            <div class="hffolders">
                <ul id="level-0">
                    <li id="collection-name" class="root">
                        <span><a href="#">{{ collection.title }}</a></span>
                    </li>
                    {{ outline | safe}}
                </ul>
            </div>
        </div>
    </div>

    {% if tag_data %}
    <!-- TAG -->
    <div class="module-block module-simple">
        <div class="module-block-header">
            <div class="icon-module"></div>
            <div class="tilte-module">Tag</div>
        </div>
        <div class="module-block-content">
            <a class="link-tag">Zen</a>
            <a class="link-tag">Book</a>
            <a class="link-tag">Khoa học</a>
            <a class="link-tag">Bản đồ</a>
            <a class="link-tag">Nghiên cứu</a>
            <a class="link-tag">Phát triển</a>
        </div>
    </div>
    <!-- END TAG -->
    {% endif %}

    <div id="material-rating">
    {% include 'frontend/partials/material_rate.html' with material=collection %}
    </div>

    {% include 'frontend/partials/material_list.html' with links=material.links %}

    <!-- OTHER FROM AUTHOR -->
    <div id="by-same-author" class="module-block module-simple padding-content-15">
        <h4>{% trans 'By same author' %}</h4>
        <div class="">
            <div id="module-others" class="ajax-ev" data-ajax-trigger="load" data-ajax-url="/ajax/get-others?authors={{ collection.author }}">&nbsp;</div>
        </div>
    </div>
    <!-- END OTHER FROM AUTHOR -->

    <!-- SIMILAR ITEMS -->
    <div class="module-block module-simple padding-content-15">
        <h4>{% trans 'Similar items' %}</h4>
        <div >
            <div id="module-similars" class="ajax-ev" data-ajax-trigger="load" data-ajax-url="/ajax/get-similars?mid={{ material.material_id }}&version={{ material.version }}">&nbsp;</div>
        </div>
    </div>

</div>

<script>
$(function(){ Voer.Materials.run(); });

$(document).ready(function(){
    Voer.Helper.rating('.material-rating-average');

    $(document).on('click', '.icon-delete-rate', function(){
        Voer.Materials.materialRate(this);
    });
});
</script>
{% endblock %}
