{% extends "base/base.html" %}
{% load i18n %}
{% block titleSite %}VOER{% endblock %}

{% block slide %}
<!-- SLIDE -->
<div id="slider" class="slide1">
    <div class="slider-content main">
        <div class="slider-content-left left">
            <div class="text-header-slider-left left clear">Take the world's best documents, online, for free.</div>
            <div class="div-input-search left clear">
                <form action="{% url 'search' %}" method="GET">
                    {% csrf_token %}
                    <input type="text" class="input-search-top" name="keyword" />
                    <input type="submit" class="hfbtn-common search-index" value="search">
                </form>
            </div>
            <div class="text-slider-left clear">
                Discover 21598 modules, 502 collections from 2052 authors
            </div>
        </div>
        <div class="hfslide right">
            <div id="generic" class="slide active" style="display:block;">
                <div class="book"></div>
                <div class="cloud1"></div>
                <div class="cloud2"></div>
                <div class="tree1"></div>
                <div class="tree2"></div>
                <div class="tree3"></div>
            </div>
            <div id="slide2" class="slide" style="display:none;">
                <div class="box"></div>
                <div class="icon1"></div>
                <div class="icon2"></div>
                <div class="icon3"></div>
                <div class="icon4"></div>
                <div class="icon5"></div>
                <div class="icon6"></div>
                <div class="icon7"></div>
                <div class="icon8"></div>
            </div>
            <div id="slide3" class="slide" style="display:none;">
                <div class="macbook"></div>
                <div class="group-icon1"></div>
                <div class="group-icon2"></div>
                <div class="group-icon3"></div>
                <div class="group-icon4"></div>
                <div class="group-icon5"></div>
                <div class="group-icon6"></div>
                <div class="group-icon7"></div>
            </div>
        </div>
    </div>
</div>
<!-- END SLIDE -->
{% endblock %}

{% block content %}
<!-- LIST MODULE MAINPAGE -->
<ul class="list-collection-mainpage left">
    {% for material in materials_list %}
    {% if material.material_type == 1 %}
        {% url 'module_detail' mid=material.material_id as material_url %}
    {% else %}
        {% url 'collection_detail' cid=material.material_id as material_url %}
    {% endif %}
    <li>
        <div class="icon-hot"></div>
        <div class="collection-mainpage-cover left clear">
            {% if material.categories %}
		   <img src="{{STATIC_URL}}images/contents/{{material.material_id}}.jpg"/>
		   {% else %}
		   <img src="{{STATIC_URL}}images/cat_other.jpg"/>  
		   {% endif %}
        </div>
        <div class="collection-mainpage-details left clear">

            <div class="collection-details-icon {% if material.material_type == 1 %} icon-puzzle {% else %} icon-book {% endif %} left">

            </div>
            <div class="collection-details-text left">
                <div class="title-collection left clear">
                    <a href='{{ material_url }}'>{{ material.title }}</a>
                </div>
                {% for person in material.author_list %}
                <div class="author-collection left clear">
                    <a href="{% url 'view_profile' person.pid %}">{{ person.pname }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<!-- LIST MODULE MAINPAGE -->
<!-- BROWSER -->
<div class="mainpage-browser left">
    <a class="btn-browser-all left clear" href="{% url 'browse' %}">{% trans 'Browser All' %}</a>
    <div class="mainpage-browser-content left">
        <ul class="list-mainpage-browser left">
			{% for material in person_list %}
            <li>
                <div class="browser-author-img left clear">
                    <img src="{{STATIC_URL}}images/authors/{{ material.id }}.jpg" />
                </div>
                <div class="browser-author-details left clear">
                    <div class="icon-browser-author"></div>
                    <div class="browser-author-name left clear">
                        <a href="{% url 'view_profile' material.id %}">{% if material.fullname != NULL %} {{ material.fullname }} {% else %} {{ material.user_id }} {% endif %}</a>
                    </div>
                    <div class="browser-author-add left clear">{% if material.affiliation != NULL %} {{ material.affiliation }} {% endif %}</div>
                </div>
            </li>
			{% endfor %}
        </ul>
    </div>
</div>
<!-- END BROWSER -->

{% endblock %}
