{% extends "base/base-content.html" %}

{% load i18n %}
{% load thumbnail %}

{% block titleSite %}{{ material.title }} - VOER{% endblock %}

{% block content %}
<!-- LEFT ROW -->
<div class="col-lg-1 left-row">
    <!-- TITLE MODULE -->
    <div class="module-view-title left padding-content-15">
        <div class="material-type">{% trans "Module" %}</div>
        <h1 class="module-title left clear">{{ material.title }}</h1>
        <a class="module-view-category left clear" title="{{ category.name }}">{{ category.name }}</a>
        {% if material.id %}
        {% if material.version == 0 or material.version == '0' or material.version == None %}
        <a href="{% url 'user_module_edit' mid=material.id %}" class="btn btn-primary" style="float: right;">{% trans 'Edit' %}</a>
        {% endif %}
        {% endif %}
    </div>

    <div class="left padding-content-15 with-100">
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_facebook_share" fb:share:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
    </div>

    <!-- END TITLE MODULE -->
    <!-- CONTENT MODULE -->
    <div class="module-view-content left padding-20">{{ material.text|safe }}</div>
    <!-- END CONTENT MODULE -->

    {% if file_data %}
    <!-- ATTACHMENT MODULE -->
    <div class="attach-module-content attach-list left padding-content-15">
        <h3>{% trans 'Attachments' %}</h3>
        <div class="attach-content-comment">
            <ul>
                {% for attachment in file_data %}
                <li>
                    <a href="{% url 'get_attachment' attachment.attachment_id %}">{{ attachment.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- END ATTACHMENT MODULE -->
    {% endif %}

    <div class="bottom-module-content left padding-content-15 with-100">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_facebook_share" fb:share:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <!-- AddThis Button END -->
    </div>

    <!-- COMMENT MODULE -->
    <div class="comment-module-content left padding-content-15">
        <div class="module-content-comment">
            <ul>
                <li>
                    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="742" data-numposts="10" data-colorscheme="light"></div>
                </li>
            </ul>
            <!-- <a class="btn-module-content-comment right">{% trans 'Comment' %}</a> -->
        </div>
    </div>
    <!-- END COMMENT MODULE -->
</div>
<!-- END LEFT ROW -->
<!-- RIGHT ROW -->
<div id="material-right-side" class="col-lg-2 right-row">
    {% include 'frontend/partials/material_actions.html' %}
    <div class="clearfix"></div>

    {% if tag_data %}
    <!-- TAG -->
    <div class="module-block module-simple">
        <div class="module-block-header">
            <div class="icon-module"></div>
            <div class="tilte-module">Tag</div>
        </div>
        <div class="module-block-content">
            <a class="link-tag">Zen</a>
            <a class="link-tag">Book</a>
            <a class="link-tag">Khoa học</a>
            <a class="link-tag">Bản đồ</a>
            <a class="link-tag">Nghiên cứu</a>
            <a class="link-tag">Phát triển</a>
        </div>
    </div>
    <!-- END TAG -->
    {% endif %}

    {% include 'frontend/partials/material_author.html' %}

    <!--
    {% if material.rates %}
    <div class="module-view-author left">
        <div class="material-rating-title">{% trans 'Rating:' %}</div>
        <div class="material-rating-content padding-content-10">
            <div class="material-rating-average" data-average="{{ material.rates.rate_fake }}" data-material-id="{{ material.material_id }}" data-material-version="{{ material.version }}" {% if user.is_authenticated %} data-user-authenticated="true"{% endif %} {% if material.is_rated %} data-rated-flag="true"{% endif %}></div>
            <div class="current-rating">{{ material.rates.rate_fake }}</div>
            <div class="count-rating">{{ material.rates.count }}</div>
        </div>
    </div>
    {% endif %}
    -->

    {% include 'frontend/partials/material_list.html' with links=material.links %}

    <!-- OTHER FROM AUTHOR -->
    <div class="module-block module-simple padding-content-15">
        <h4>{% trans 'By same author' %}</h4>
        <div class="">
            <div id="module-others" class="ajax-ev" data-ajax-trigger="load" data-ajax-url="/ajax/get-others?authors={{ material.author }}">&nbsp;</div>
        </div>
    </div>
    <!-- END OTHER FROM AUTHOR -->

    <!-- SIMILAR ITEMS -->
    <div class="module-block module-simple padding-content-15">
        <h4>{% trans 'Similar items' %}</h4>
        <div >
            <div id="module-similars" class="ajax-ev" data-ajax-trigger="load" data-ajax-url="/ajax/get-similars?mid={{ material.material_id }}&version={{ material.version }}">&nbsp;</div>
        </div>
    </div>

</div>

<script type="text/javascript">
$(function(){ Voer.Materials.run(); });

$(document).ready(function(){
    Voer.Helper.rating('.material-rating-average');
});
</script>
{% endblock %}
