{% extends "base/base-content.html" %}

{% load i18n %}
{% load thumbnail %}
{% load vpw_filters %}

{% block titleSite %}{{ person_name }} - {% trans "User profile" %}{% endblock %}

{% block meta-description %}
<meta name="description" content="Profile of {{ person_name }}">
{% endblock %}

{% block content %}
<!-- filter top -->
<div class="hfuser-top">
    <h1>{% if person.fullname %}{% if person.title %}{{ person.title }} {% endif %}{{ person.fullname }} {% else %} {{ person.user_id }} {% endif %}</h1>
    <div class="hfuser-content">
        <div class="hfuser-information left">
            <div class="hfuser-info ">
                <div class="hfuser-avatar left">
                {% with y=person.id|stringformat:"s" %}
                {% thumbnail "http://"|add:request.META.HTTP_HOST|add:"/user/avatar/"|add:y|add:"?l="|add:person.avatar "150x150" crop="center 20%" as im %}
                    <img src="{{ im.url }}">
                {% empty %}
                    <img src="{{ STATIC_URL }}images/author1_detail.jpg">
                {% endthumbnail %}
                {% endwith %}
                </div>
                <div class="hfuser-name">{% if person.fullname %}{% if person.title %}{{ person.title }} {% endif %}{{ person.fullname }} {% else %} {{ person.user_id }} {% endif %}</div>
                {% if person.affiliation %}
                <div class="hfuser-address">{{ person.affiliation }}</div>
                {% endif %}

                {% if person.affiliation_url %}
                <div class="hfuser-website"><a href="{{ person.affiliation_url }}" target="_blank">{{ person.affiliation_url }}</a></div>
                {% endif %}

                {% if person.homepage %}
                <div class="hfuser-homepage">{% trans 'Homepage' %}: <a href="{{ person.homepage }}" target="_blank">{{ person.homepage }}</a></div>
                {% endif %}

                {% if person.national %}
                <div class="hfuser-national">{% trans 'National' %}: {{ person.national }}</div>
                {% endif %}

                {% if person.biography %}
                <div class="hfuser-biography text-justify">{% trans 'Biography' %}: {{ person.biography|safe }}</div>
                {% endif %}

                {% if request.user.is_superuser %}
                <a class="hfbtn-common hfbtn-public right hfbtn-active" href="{% url 'delete_profile' person.id %}" onclick="return confirm('Bạn muốn xóa tác giả này?')">{% trans 'Delete person' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- left content -->
<div id="fitertop-browserall" class="hffitertop">
    <div class="dropdown left">
        <a class="filter-title arrow-down" data-toggle="dropdown" href="#">{% trans 'Sort by' %}</a>
        <ul class="dropdown-menu dropdown-menu-sort" role="menu" aria-labelledby="dLabel">
            <li><a href="javascript:void(0)" rel="title">{% trans 'Title' %}</a></li>
            <!--<li><a>{% trans 'Relevance' %}</a></li>
            <li><a>{% trans 'Rating' %}</a></li>-->
            <li><a href="javascript:void(0)" rel="modified">{% trans 'Date' %}</a></li>
        </ul>
    </div>
</div>

<div id="author-materials" class="container">
  <div class="row">
    <div class="col-lg-9 left-row">
        <div class="hfitems active">
            <div id="materials" class="material-list">
                {% with material_list=materials.results %}
                    {% include 'frontend/partials/browse-list.html' %}
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="col-lg-3 right-row right">
        <div class="hffilter-right">
            <div class="bigbox-common">
                <div class="title">{% trans 'Filter By' %}</div>
                <div class="content" id="main_list">
                    <script>
                    $(document).ready(function(){
                        $('div[data-key|=authors]').click(function(){
                            var $datakey=$(this).attr('data-key');
                            if ($datakey == 'authors-0'){
                                $('div[data-key|=authors]').removeClass('file_selected');
                                $('div[data-key=authors-0]').addClass('file_selected');
                            }else {
                                $('div[data-key=authors-0]').removeClass('file_selected');
                            }
                        });
                        $('div[data-key|=categories]').click(function(){
                            var $datakey=$(this).attr('data-key');
                            if($datakey == 'categories-0'){
                                $('div[data-key|=categories]').removeClass('file_selected');
                                $('div[data-key=categories-0]').addClass('file_selected');
                            }else{
                                $('div[data-key=categories-0]').removeClass('file_selected');
                            }
                        });
                        $('div[data-key|=langs]').click(function(){
                            var $datakey=$(this).attr('data-key');
                            if($datakey == 'langs-0'){
                                $('div[data-key|=langs]').removeClass('file_selected');
                                $('div[data-key=langs-0]').addClass('file_selected');
                            }else{
                                $('div[data-key=langs-0]').removeClass('file_selected');
                            }
                        });
                        $('div[data-key|=types]').click(function(){
                            var $datakey=$(this).attr('data-key');
                            if($datakey == 'types-0'){
                                $('div[data-key|=types]').removeClass('file_selected');
                                $('div[data-key=types-0]').addClass('file_selected');
                            }else{
                                $('div[data-key=types-0]').removeClass('file_selected');
                            }
                        });
                        $('.checkbox-custom').click(function(){
                            var $datakey=$(this).attr('data-key');
                            $('div[data-key='+$datakey+']').toggleClass('file_selected');
                            ajaxGetMaterialByCondition();
                        });
                    });
                    </script>
                    <!-- type -------------------------------------------------------------------->
                    <div class="smallbox-common">
                        <div class="checkbox-item">
                            <div class="file_selected" data-key="types-0">
                                <div class="grip_column">
                                    <div title="{% trans 'Select/Deselect Item' %}" class="checkbox-custom file_selected" data-key="types-0"></div>
                                </div>
                                <div class="hfcheckinfo">
                                    {% trans 'All types' %}
                                </div>
                                <div class="hfchecknumber">

                                </div>
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <div class="" data-key="types-1">
                                <div class="grip_column">
                                    <div title="{% trans 'Select/Deselect Item' %}" class="checkbox-custom" data-key="types-1"></div>
                                </div>
                                <div class="hfcheckinfo">
                                    {% trans 'Modules' %}
                                </div>
                                <div class="hfchecknumber">

                                </div>
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <div class="" data-key="types-2">
                                <div class="grip_column">
                                    <div title="{% trans 'Select/Deselect Item' %}" class="checkbox-custom" data-key="types-2"></div>
                                </div>
                                <div class="hfcheckinfo">
                                    {% trans 'Collection' %}
                                </div>
                                <div class="hfchecknumber">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- language -------------------------------------------------------------------->
                    <div class="smallbox-common">
                        <div class="checkbox-item">
                            <div class="file_selected" data-key="langs-0">
                                <div class="grip_column">
                                    <div title="{% trans 'Select/Deselect Item' %}" class="checkbox-custom file_selected" data-key="langs-0"></div>
                                </div>
                                <div class="hfcheckinfo">
                                    {% trans 'All languages' %}
                                </div>
                                <div class="hfchecknumber">

                                </div>
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <div class="" data-key="langs-vi">
                                <div class="grip_column">
                                    <div title="{% trans 'Select/Deselect Item' %}" class="checkbox-custom" data-key="langs-vi"></div>
                                </div>
                                <div class="hfcheckinfo">
                                    {% trans 'Vietnamese' %}
                                </div>
                                <div class="hfchecknumber">

                                </div>
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <div class="" data-key="langs-en">
                                <div class="grip_column">
                                    <div title="{% trans 'Select/Deselect Item' %}" class="checkbox-custom" data-key="langs-en"></div>
                                </div>
                                <div class="hfcheckinfo">
                                    {% trans 'English' %}
                                </div>
                                <div class="hfchecknumber">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Categories -->
                    <div class="smallbox-common">
                        <div class="checkbox-item">
                            <div class="file_selected" data-key="categories-0">
                                <div class="grip_column">
                                    <div title="{% trans 'Select/Deselect Item' %}" class="checkbox-custom file_selected" data-key="categories-0"></div>
                                </div>
                                <div class="hfcheckinfo">
                                    {% trans 'All categories' %}
                                </div>
                                <div class="hfchecknumber">

                                </div>
                            </div>
                        </div>
                        {% for category in categories %}
                        <div class="checkbox-item">
                            <div class="" data-key="categories-{{category.id}}">
                                <div class="grip_column">
                                    <div title="{% trans 'Select/Deselect Item' %}" class="checkbox-custom" data-key="categories-{{category.id}}"></div>
                                </div>
                                <div class="hfcheckinfo">
                                    {% trans category.name %}
                                </div>
                                <div class="hfchecknumber">

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- input hidden extra -->
                    <input id="filter-author-id" type="hidden" value="{{ person.id }}" />
                    <input id="filter-sort" type="hidden" value="{{ sort_direct }}" />
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">$(function(){ Voer.Materials.run(); });</script>
{% endblock %}
