{% extends "base/base-content.html" %}

{% load i18n %}
{% load vpw_filters %}

{% block titleSite %}{% trans "User favorite" %}{% endblock %}

{% block content %}

<!-- filter top -->
<div class="hfuser-top">
    <h1>{% trans 'My VOER' %}</h1>
    {% include 'frontend/partials/author_info.html' %}
</div>
{% include 'frontend/block/left_block_user.html' %}
<div class="col-lg-1 col-lg-1-custom right-row">
    <div id="fitertop-browserall" class="hffitertop">
        <div class="dropdown left">
            <a class="filter-title arrow-down" data-toggle="dropdown" href="#">{% trans 'Sort by' %}</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="{{ request.path }}?sort=title">{% trans 'Title' %}</a></li>
                <li><a href="{{ request.path }}?sort=modified">{% trans 'Date' %}</a></li>
            </ul>
        </div>
        <!--
        <div class="fiterbutton right">
            <a class="gridview left">{% trans 'Gridview' %}</a>
            <a class="listview right">{% trans 'Listview' %}</a>
        </div>-->
    </div>

    <div class="hfitems">
    {% with material_list=materials %}
        {% include 'frontend/partials/browse-list.html' %}
    {% endwith %}
    </div>
 </div>
{% endblock %}
