{% extends "base/base-content.html" %}

{% load i18n %}
{% load thumbnail %}

{% block titleSite %}{% trans "User profile" %}{% endblock %}
{% block js %}
    {{ form.media }}
    <script type="text/javascript" src="{{ STATIC_URL }}mce_filebrowser/js/filebrowser_init.js"></script>

{% endblock %}

{% block content %}

<!-- filter top -->
<div class="hfuser-top">
    <h1>{% trans 'My VOER' %}</h1>
    <div class="hfuser-content">
        <div class="hfuser-information left">
            <div class="hfuser-info ">
                <div class="hfuser-avatar left">
                {% with y=author.id|stringformat:"s" %}
                {% thumbnail "http://"|add:request.META.HTTP_HOST|add:"/user/avatar/"|add:y|add:"?l="|add:author.avatar "150x150" crop="center 20%" as im %}
                    <img src="{{ im.url }}">
                {% empty %}
                    <img src="{{ STATIC_URL }}images/author1_detail.jpg">
                {% endthumbnail %}
                {% endwith %}
                </div>
                <div class="hfuser-name">{% if author.fullname %}{% if author.title %}{{ author.title }} {% endif %}{{ author.fullname }} {% else %} {{ user.username }} {% endif %}</div>
                <div class="hfuser-address">{% if author.affiliation %}{{ author.affiliation }}{% else %}{% trans 'Not available' %}{% endif %}</div>
                <div class="hfuser-website">{% if author.affiliation_url %}<a href="{{ author.affiliation_url }}" target="_blank">{{ author.affiliation_url }}</a>{% else %}{% trans 'Not available' %}{% endif %}</div>
                <div class="hfuser-homepage">{% trans 'Homepage' %}: {% if author.homepage %}<a href="{{ author.homepage }}" target="_blank">{{ author.homepage }}</a>{% else %}{% trans 'Not available' %}{% endif %}</div>
                <div class="hfuser-national">{% trans 'National' %}: {% if author.national %}{{ author.national }}{% else %}{% trans 'Not available' %}{% endif %}</div>
                <div class="hfuser-biography text-justify">{% trans 'Biography' %}: {% if author.biography %}{{ author.biography|safe }}{% else %}{% trans 'Not available' %}{% endif %}</div>
            </div>
        </div>
    </div>
</div>

{% include 'frontend/block/left_block_user.html' %}

<div class="col-lg-1 right-row">
    <div class="content edituser" style="padding:10px 20px;margin-bottom:20px;overflow:hidden;">
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ field.label }} - {{ error|escape }}</li>
            {% endfor %}
        {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <h1>{% trans 'Account Settings' %}</h1>
        <form role="form" method="post" action="{% url 'edit_profile' %}" id="edit-user-profile-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="InputCurrentPassword">{% trans 'Current password' %} <span class="red">*</span></label>
                <input type="password" class="form-control typetext" id="InputCurrentPassword" placeholder="{% trans 'Enter Current Password' %}" name="current_password">
                <p class="help-block">Enter your current password to change the E-mail address or Password. <a href="">Request new password</a>.</p>
            </div>
            <div class="form-group">
                <label for="InputEmailAddress">{% trans 'E-mail address' %} <span class="red">*</span></label>
                <input type="text" class="form-control typetext" id="InputEmailAddress" placeholder="{% trans 'Enter Emai Address' %}" value="{% if  author.email %}{{ author.email }}{% endif %}" name="email">
                <p class="help-block">{% trans 'A valid e-mail address. All e-mails from the system will be sent to this address. The e-mail address is not made public and will only be used if you wish to receive a new password or wish to receive certain news or notifications by e-mail.' %}</p>
            </div>
            <div class="form-group">
                <label for="InputPassword">{% trans 'Password' %}</label>
                <input type="password" class="form-control typetext" id="InputPassword" placeholder="{% trans 'Enter Your Password' %}" name="new_password">
            </div>
            <div class="form-group">
                <label for="InputConfirmPassword">{% trans 'Confirm password' %}</label>
                <input type="password" class="form-control typetext" id="InputConfirmPassword" placeholder="{% trans 'Enter Confirm Password' %}" name="confirm_password">
                <p class="help-block">
                    To make your password stronger:
                    <br>* Make it at least 6 characters
                    <br>* Add lowercase letters
                    <br>* Add uppercase letters
                    <br>* Add numbers
                    <br>* Add punctuation
                    <br>To change the current user password, enter the new password in both fields.
                </p>
            </div>
            <!--
            <div class="form-group">
                <label for=InputLocaleSettings>Locale settings / Time zone </label>
                <div class="hfselectList">
                    <select name="selectlist" class="select-block">
                        <option>Africa/Abidjan: Tuesday, December 24, 2013 - 07:15 +0000</option>
                        <option>Africa/Accra: Tuesday, December 24, 2013 - 07:15 +0000</option>
                        <option>Africa/Addis Ababa: Tuesday, December 24, 2013 - 10:15 +0300</option>
                        <option>Africa/Algiers: Tuesday, December 24, 2013 - 08:15 +0100</option>
                        <option>Africa/Bangui: Tuesday, December 24, 2013 - 08:15 +0100</option>
                        <option>Africa/Blantyre: Tuesday, December 24, 2013 - 09:15 +0200</option>
                        <option>Africa/Bujumbura: Tuesday, December 24, 2013 - 09:15 +0200</option>
                        <option>Africa/Cairo: Tuesday, December 24, 2013 - 09:15 +0200</option>
                    </select>
                </div>
            </div>
            -->
            <div class="form-group">
                <label for="InputPicture">{% trans 'Picture' %}</label>
                <input type="file" onmouseout="document.getElementById('uploadfilename_0').value = this.value;" onchange="document.getElementById('uploadfilename_0').value = this.value;" class="uploadfile" id="uploadfile_0" name="avatar_file">
                <div class="fakefile">
                    <input type="text" onclick="document.getElementById('uploadfile_0').click();" id="uploadfilename_0" value="" class="form-control typefile">
                </div>
                <p class="help-block">{% trans 'Your virtual face or picture. Pictures larger than 1024x1024 pixels will be scaled down.' %}</p>
            </div>

            <div class="form-group">
                <label for="InputFullname">{% trans 'Full name' %} <span class="red">*</span></label>
                <input type="text" class="form-control typetext" id="InputFullname" placeholder="Enter Full name" value="{% if author.fullname %}{{ author.fullname|safe }}{% endif %}" name="fullname">
            </div>
            <div class="form-group">
                <label for="InputFirstname">First name</label>
                <input type="text" class="form-control typetext" id="InputFirstname" placeholder="Enter First name" value="{% if author.first_name %}{{ author.first_name|safe }}{% endif %}" name="first_name">
            </div>
            <div class="form-group">
                <label for="InputLastname">{% trans 'Last name' %}</label>
                <input type="text" class="form-control typetext" id="InputLastname" placeholder="Enter Last name" value="{% if author.last_name %}{{ author.last_name|safe }}{% endif %}" name="last_name">
            </div>
            <div class="form-group">
                <label for="InputTitle">{% trans 'Title' %}</label>
                <input type="text" class="form-control typetext" id="InputTitle" placeholder="Enter Title" value="{% if author.title %}{{ author.title|safe }}{% endif %}" name="title">
            </div>
            <div class="form-group">
                <label for="InputHomepage">{% trans 'Homepage' %}</label>
                {{ form.homepage }}
            </div>
            <div class="form-group">
                <label for="InputAffiliation">{% trans 'Affiliation' %}</label>
                <input type="text" class="form-control typetext" id="InputAffiliation" placeholder="Enter Affiliation" value="{% if author.affiliation %}{{ author.affiliation|safe }}{% endif %}" name="affiliation">
            </div>
            <div class="form-group">
                <label for="InputAffiliationURL">{% trans 'Affiliation URL' %}</label>
                {{ form.affiliation_url }}
            </div>
            <div class="form-group">
                <label for="InputBiography">{% trans 'Biography' %}</label>
                {{ form.biography }}
                <!-- <textarea rows="4" class="form-control" name="biography">{% if author.biography %}{{ author.biography }}{% endif %}</textarea> -->
            </div>
            <div class="form-group">
                <label for="InputNationality">{% trans 'Nationality' %}</label>
                <input type="text" class="form-control typetext" id="InputNationality" placeholder="Enter Nationality" value="{% if author.national %}{{ author.national|safe }}{% endif %}" name="national">
            </div>
            <div class="form-group btn-common">
                <a class="hfbtn-common hfbtn-next right hfbtn-active btn-edit-profile" href="">{% trans 'Save' %}</a>
                <a class="hfbtn-common hfbtn-back right hfbtn-active btn-edit-profile-reset" href="">{% trans 'Cancel' %}</a>
            </div>
        </form>
    </div>
 </div>

<script>
$(document).ready(function(){
    $(document).on('click', '.btn-edit-profile', function(){
        $('#edit-user-profile-form').submit();
        return false;
    });

    $(document).on('click', '.btn-edit-profile-reset', function(){
        $('#edit-user-profile-form')[0].reset();
        return false;
    });
});
</script>
{% endblock %}
