{% extends "base/base-content.html" %}
{% load i18n %}

{% block titleSite %}About Us{% endblock %}

{% block content %}        

<div class="col-lg-2 col-lg-2-custom">
    <div class="hffilter-right">
        <div class="bigbox-common">                         
            <div class="content">
                <ul class="hfmenu-common">
                  {% if request.LANGUAGE_CODE == 'vi' %}
                    <li><a class= "active" id="about-1" href="/content/gioi-thieu">{% trans 'About Us' %}<i class="chev-right"></i></a></li>
                    <li><a id="about-2" href="/content/dong-gop">{% trans 'Contribute' %}<i class="chev-right"></i></a></li>
                    <li><a id="about-10" href="/content/huong-dan">{% trans 'User Guide' %}<i class="chev-right"></i></a></li>                            
                  {% else %}
                    <li><a class= "active" id="about-1" href="/content/about-us">{% trans 'About Us' %}<i class="chev-right"></i></a></li>
                    <li><a id="about-2" href="/content/contribute">{% trans 'Contribute' %}<i class="chev-right"></i></a></li>
                    <li><a id="about-10" href="/content/guide">{% trans 'User Guide' %}<i class="chev-right"></i></a></li>                            
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-1 col-lg-1-custom right-row">
    <article class="flatpage">
        <h1 class="article-title">{{ flatpage.title }}</h1>
        {{ flatpage.content|linebreaks }}
    </article>
</div>           
        
{% endblock %}
